/* 以下スマホの表示 */
@media (max-width: 840px) {
    /* 地図を表示するためのコンテナのスタイル */
    #map {
        width: 100%;
        height: 80vh;
    }
    body{
        margin: 0;
        padding: 0;
    }
    .background{
        background-color: #fffaf7;
    }

    .header_div{
        display:none;
    }
    .header_div_phone{
        background-color: #fffaf7;
        top: 0px;
        left: 0px;
        padding: 10px 10px 0 10px;
        width: 100%;
        height: 50px;
        z-index: 100;
        position: fixed;
        border-radius: 3px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    }
    .logo{
        width: 20%;
        max-width: 100px;
        position: absolute;
        /* 画像の縦横比を固定する */
        aspect-ratio: 5 / 2;
    }
    .title{
        color: #666666;
        font-size: 26px;
        font-family: Source Serif Pro;
        text-transform: uppercase;
        word-wrap: break-word;
        margin: 80px 20px 0 20px;
    }
    .line{
        height: 0px;
        line-height : 1.8 ;
        border-bottom: dashed 3px #666666;
        text-transform: uppercase;
        word-wrap: break-word;
        margin: 0px 20px 0 20px;
    }

    /* 検索窓 */
    .search_div{
        width: 50%;
        height: 40px;
        padding: 5px;
        position: absolute;
        left: 25%;
    }

    .select_distance{
        height: 25px;
        width: 30%;
        float: left;
        border: 2px solid #dcdcdc;
        background: #dcdcdc;
        color: #696969;
        font-size: 80%;
    }
    .search_container{
        position: relative;
        box-sizing: border-box;
        border: 0.1px solid #d3d3d3;
        display: block;
        height: 25px;
        width: 70%;
        overflow: hidden;
    }
    .search_container input[type="text"]{
        border: none;
        height: 25px;
        width: 70%;
        background-color: #fffaf7
    }
    .search_container input[type="text"]:focus {
        outline: 0;
    }
    .search_container input[type="submit"]{
        cursor: pointer;
        font-family: FontAwesome;
        border: none;
        background: #FFEB8F;
        color: #000000;
        position: absolute;
        width: 20%;
        height: 30px;
        right:0px;
        top: -5px;
        outline : none;
    }

    /* ハンバーガーメニュー */
    .hamburger_menu{
        display: none;
    }
    .hamburger_menu_phone {
        position: absolute;
        background: #fffaf7;
        right: 20px;
        cursor: pointer;
        width: 50px;
        height: 47px;
        border-radius: 5px;
    }
    .hamburger_menu_phone span {
        display: inline-block;
        transition: all .4s;
        position: absolute;
        left: 12px;
        height: 3px;
        border-radius: 2px;
        background: #666666;
        width: 45%;
    }
    .hamburger_menu_phone span:nth-of-type(1) {
        top: 15px;
    }
    .hamburger_menu_phone span:nth-of-type(2) {
        top: 23px;
    }
    .hamburger_menu_phone span:nth-of-type(3) {
        top: 31px;
    }
    .hamburger_menu_phone.active span:nth-of-type(1) {
        top: 18px;
        left: 18px;
        transform: translateY(6px) rotate(-45deg);
        width: 30%;
    }
    .hamburger_menu_phone.active span:nth-of-type(2) {
        opacity: 0;
    }
    .hamburger_menu_phone.active span:nth-of-type(3) {
        top: 30px;
        left: 18px;
        transform: translateY(-6px) rotate(45deg);
        width: 30%;
    }
    /* メニュー内 */
    .menu_phone {
        background-color: #fffaf7;
        opacity: 0; /* 初期状態で透明 */
        visibility: hidden; /* 初期状態で非表示 */
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
        top: 65px;
        left: 0px;
        width: 100%;
        height: 75vh;
        position: fixed;
        transition: opacity 0.3s, visibility 0.3s; /* トランジションの追加 */
        overflow-y: auto; /* 縦方向のスクロールを許可 */
    }
    .menu_phone.active {
        display: block;
        opacity: 1; /* アクティブ時に完全に表示 */
        visibility: visible; /* アクティブ時に表示 */
    }
    .menu_phone.active {
        display: block;
    }
    /* タグの枠 */
    .category_frame_box_phone{
        height: 100%;
        margin: 0 20px;
    }
    /* 見出し */
    .category_memu_phone{
        font-family: Noto Serif JP;
        font-size: 24px;
        margin-top: 15px;
        color: #666666;
    }
    .category_menu_line_phone{
        height: 0px;
        line-height : 1.8 ;
        border-bottom: dashed 3px #666666;
        text-transform: uppercase;
        word-wrap: break-word;
        margin-top: 3px;
        margin-bottom: 30px;
    }
    /* 決済サービスの見出し */
    .payment_service_head_phone{
        height: 34px;
        font-family: Noto Serif JP;
        border-bottom: solid 4px #FFEB8F;
        font-size: 20px;
        color: #333333;
        margin-bottom: 20px;
    }
    .payment_service_head_phone::after{
        height: 3px;
        position: relative;
        content: " ";
        display: block;
        border-bottom: solid 3px #FED121;
        width: 20%;
    }
    .cash_label_phone{
        font-size: 14px;
        line-height: 1.8;
        border-bottom: dashed 3px #d3d3d3;
        margin: 15px 0 15px 20px;
        color: #333333;
        background-color: transparent;
        cursor: pointer;
        position: relative;
        transition: border-bottom 0.3s ease;
    }
    .cash_label_phone:active {
        border-bottom: dashed 3px black;
    }
    /* 折りたたみメニュー */
    @keyframes bounce {
        0% { height: 0; opacity: 0; }
        50% { height: 5%; opacity: 1; } /* 一度目標の高さを超える */
        100% { height: 10%; opacity: 1; } /* 最終的な高さに落ち着く */
    }
    .fold_tag_phone-check {
        display: none;
    }
    /* ラベルの見た目 */
    .fold_tag_phone-label {
        font-size: 14px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        line-height : 1.8;
        border-bottom: dashed 3px #d3d3d3;
        margin: 13px 0px 13px 20px;
    }
    .fold_tag_phone-label::after {
        display: flex;
        align-items: center;
        font-family: "Font Awesome 5 Free";
        content: "\f0d7";
        font-weight: 900;
        transition: all 0.3s;
    }
    .fold_tag_phone-content_credit {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: opacity 0.3s, max-height 0.7s;
        width: 230px;
        height: 1000px;
        margin-left: 30px;
        word-break: break-all;
        top: -20px;
        position: relative;
    }
    .fold_tag_phone-content_barcode {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: opacity 0.3s, max-height 0.7s;
        width: 230px;
        height: 1000px;
        margin-left: 30px;
        word-break: break-all;
        top: -20px;
        position: relative;
    }
    .fold_tag_phone-content_electronic_money {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: opacity 0.3s, max-height 0.7s;
        width: 230px;
        height: 1000px;
        margin-left: 30px;
        word-break: break-all;
        top: -20px;
        position: relative;
    }
    .fold_tag_phone-check:checked + .fold_tag_phone-label + .fold_tag_phone-content_credit {
        /* チェックされたとき：表示 */
        max-height: 850px;  /* この値は内容に応じて調整 */
        opacity: 1;
        padding: 15px 0;
        visibility: visible;
    }
    .fold_tag_phone-check:checked + .fold_tag_phone-label + .fold_tag_phone-content_barcode {
        /* チェックされたとき：表示 */
        max-height: 930px;  /* この値は内容に応じて調整 */
        opacity: 1;
        padding: 15px 0;
        visibility: visible;
    }
    .fold_tag_phone-check:checked + .fold_tag_phone-label + .fold_tag_phone-content_electronic_money {
        /* チェックされたとき：表示 */
        max-height: 550px;  /* この値は内容に応じて調整 */
        opacity: 1;
        padding: 15px 0;
        visibility: visible;
    }
    .fold_tag_phone-check:checked + .fold_tag_phone-label::after {
        transform: rotate(180deg);
    }
    /* タグの見出し */
    .tag_head_phone{
        height: 34px;
        font-family: Noto Serif JP;
        border-bottom: solid 4px #FFEB8F;
        font-size: 20px;
        color: #333333;
        margin: 20px 0 20px 0;
    }
    .tag_head_phone::after{
        height: 3px;
        position: relative;
        content: " ";
        display: block;
        border-bottom: solid 3px #FED121;
        width: 20%;
    }
    .tag_commonly_used_phone{
        margin: 30px 0 25px 0;;
        font-size: 14px;
        font-weight: 550;
        color: #333333;
    }
    .normal_tag_phone{
        margin: 35px 0 25px 0;
        font-size: 14px;
        font-weight: 550;
        color: #333333;
    }
    .tag_content_phone {
        font-size: 14px;
        line-height: 1.8;
        border-bottom: dashed 3px #d3d3d3;
        margin: 15px 0 15px 20px;
        color: #333333;
        background-color: transparent;
        cursor: pointer;
        position: relative;
        transition: border-bottom 0.3s ease;
    }
    .tag_content_phone:active {
        border-bottom: dashed 3px black;
    }    
    /* 空白入れる */
    .tag_blank_phone{
        width: 100%;
        height: 20px;
    }

    /* お店のスライドを入れる欄 */
    .map_shop_frame_box{
        padding: 0 20px 20px 20px;
        margin: 0 auto;
    }
    /* web階層の表示 */
    .web_hierarchy{
        margin: 15px 0 15px 20px;
    }
    .web_hierarchy:before {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        background-color:  #CCC0B0;
        border-radius: 50%;
        top: 1px;
        position: relative;
    }
    .web_hierarchy a{
        color: #696969;
        font-size: 16px;
        letter-spacing: 1px;
        border-radius: 5px;
        transition: 0.3s ease-in-out;
        padding: 5px;
    }
    .web_hierarchy a:hover{
        background: #CCC0B0;
        color: #FFF;
    }
    .web_hierarchy span{
        font-size: 16px;
        letter-spacing: 1px;
        color: #696969;
    }
    /* web版のお店のスライド非表示 */
    .shop_frame_box{
        display: none;
    }
    /* お店の名前 */
    .storeName{
        font-size: 18px;
        font-weight: 700;
        line-height : 1.8 ;
        border-bottom: dashed 2px #d3d3d3;
        text-transform: uppercase;
        word-wrap: break-word;
        margin-top: 5px;
        color: #333333;
    }
    /* お店の距離テキスト */
    .located{
        font-size: 14px;
        font-family: Inter;
        font-weight: 600;
        word-wrap: break-word;
        color: #333333;
    }
    .payments{
        font-size: 16px;
        color: #333333;
    }
    .detail_button{
        display: flex;
        justify-content: left;
    }
    .detail_button a{
        color: #333333;
        background: #f1f1f1;
        font-size: 12px;
        font-family: Inter;
        word-wrap: break-word;
        border-radius: 10px;
        padding: 8px 15px;
        transition: 0.3s ease-in-out;
        text-decoration:none;
    }
    .detail_button a:hover {
        color: #555555;
        background-color: #dcdcdc;
    }
    .detail_button a:active {
        color: #ffffff;
        background-color: #333333;
        border: 1px solid #222222;
    }

    footer{
        width: 100%;
        height: 100px;
        background-color: #ccc8c6;
        color: white;
        text-align: center;
        font-size: 12px;
        padding-top: 10px;
    }
}

/* =====以下 pcの表示===== */
@media (min-width: 841px) {
    /* 地図を表示するためのコンテナのスタイル */
    #map {
        width: 70%;
        height: 80vh;
        flex-grow: 1;
    }
    body{
        margin: 0;
        padding: 0;
    }
    .background{
        background-color: #fffaf7;
    }

    .header_div_phone{
        display:none;
    }
    .header_div{
        background-color: #fffaf7;
        top: 0px;
        left: 0px;
        padding: 20px 50px 0 80px;
        width: 100%;
        height: 80px;
        z-index: 100;
        position: fixed;
        border-radius: 3px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    }
    .logo{
        width: 190px;
        height: 70px;
        float: left;        
    }
    .title{
        color: #666666;
        font-size: 36px;
        font-family: Source Serif Pro;
        text-transform: uppercase;
        word-wrap: break-word;
        margin: 140px 50px 0 80px;
    }
    .search_div{
        width: 380px;
        height: 80px;
        position: absolute;
        margin-top: -40px; /* この要素の高さの半分 */
        padding:10px;
        top: 70px;
        right: 240px;
    }
    .select_distance{
        height: 2.8em;
        float: left;
        border: 2px solid #dcdcdc;
        background: #dcdcdc;
        color: #696969;
    }
    .search_container{
        position: relative;
        box-sizing: border-box;
        border: 0.1px solid #d3d3d3;
        display: block;
        padding: 3px 10px;
        /* border-radius: 3px; */
        height: 2.3em;
        width: 265px;
        overflow: hidden;
    }
    .search_container input[type="text"]{
        border: none;
        height: 2.0em;
        width: 200px;
        background-color: #fffaf7
    }
    .search_container input[type="text"]:focus {
        outline: 0;
    }
    .search_container input[type="submit"]{
        cursor: pointer;
        font-family: FontAwesome;
        border: none;
        background: #FFEB8F;
        color: #000000;
        position: absolute;
        width: 3.0em;
        height: 3.1em;
        right:0px;
        top: -5px;
        outline : none;
    }
    /* ハンバーガーメニュー */
    .hamburger_menu_phone{
        display: none;
    }
    .hamburger_menu{
        position: absolute;
        background: #f1f1f1;
        cursor: pointer;
        width: 50px;
        height: 50px;
        top: 30px;
        right: 190px;
        border-radius: 5px;
    }
    .hamburger_menu span {
        display: inline-block;
        transition: all .4s;
        position: absolute;
        left: 14px;
        height: 3px;
        border-radius: 2px;
        background: #666666;
        width: 45%;
    }
    .hamburger_menu span:nth-of-type(1) {
        top: 15px;
    }
    .hamburger_menu span:nth-of-type(2) {
        top: 23px;
    }
    .hamburger_menu span:nth-of-type(3) {
        top: 31px;
    }
    .hamburger_menu.active{
        background-color: #f1f1f1;
        border: none;
    }
    .hamburger_menu.active span:nth-of-type(1) {
        top: 18px;
        left: 18px;
        transform: translateY(6px) rotate(-45deg);
        width: 30%;
    }
    .hamburger_menu.active span:nth-of-type(2) {
        opacity: 0;
    }
    .hamburger_menu.active span:nth-of-type(3) {
        top: 30px;
        left: 18px;
        transform: translateY(-6px) rotate(45deg);
        width: 30%;
    }
    /* メニュー内 */
    .menu {
        background-color: #fffaf7;
        opacity: 0; /* 初期状態で透明 */
        visibility: hidden; /* 初期状態で非表示 */
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
        top: 100px;
        right: 0;
        width: 37%;
        height: 75vh;
        position: fixed;
        transition: opacity 0.3s, visibility 0.3s; /* トランジションの追加 */
        overflow-y: auto; /* 縦方向のスクロールを許可 */
    }
    .menu.active {
        display: block;
        opacity: 1; /* アクティブ時に完全に表示 */
        visibility: visible; /* アクティブ時に表示 */
        background-color: #fffaf7;
        border: none;
    }
    .menu.active {
        display: block;
    }
    /* タグの枠 */
    .category_frame_box{
        height: 100%;
        margin: 0 20px;
    }
    /* 見出し */
    .category_memu{
        font-family: Noto Serif JP;
        font-size: 24px;
        margin-top: 15px;
        color: #666666;
    }
    .category_menu_line{
        height: 0px;
        line-height : 1.8 ;
        border-bottom: dashed 3px #666666;
        text-transform: uppercase;
        word-wrap: break-word;
        margin-top: 3px;
        margin-bottom: 30px;
    }
    /* 決済サービスの見出し */
    .payment_service_head{
        width: 70%;
        height: 34px;
        font-family: Noto Serif JP;
        border-bottom: solid 4px #FFEB8F;
        font-size: 20px;
        color: #333333;
        margin-bottom: 20px;
    }
    .payment_service_head::after{
        height: 3px;
        position: relative;
        content: " ";
        display: block;
        border-bottom: solid 3px #FED121;
        width: 20%;
    }
    .cash_label{
        width: 50%;
        font-size: 14px;
        line-height: 1.8;
        border-bottom: dashed 3px #d3d3d3;
        margin: 15px 0 15px 20px;
        color: #333333;
        background-color: transparent;
        cursor: pointer;
        position: relative;
        transition: border-bottom 0.3s ease;
    }
    .cash_label:active {
        border-bottom: dashed 3px black;
    }
    /* 折りたたみメニュー */
    @keyframes bounce {
        0% { height: 0; opacity: 0; }
        50% { height: 5%; opacity: 1; } /* 一度目標の高さを超える */
        100% { height: 10%; opacity: 1; } /* 最終的な高さに落ち着く */
    }
    .fold_tag-check {
        display: none;
    }
    /* ラベルの見た目 */
    .fold_tag-label {
        width: 50%;
        font-size: 14px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        line-height : 1.8;
        border-bottom: dashed 3px #d3d3d3;
        margin: 13px 0px 13px 20px;
    }
    .fold_tag-label::after {
        display: flex;
        align-items: center;
        font-family: "Font Awesome 5 Free";
        content: "\f0d7";
        font-weight: 900;
        transition: all 0.3s;
    }
    .fold_tag-content_credit {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: opacity 0.3s, max-height 0.7s;
        width: 230px;
        height: 1000px;
        margin-left: 30px;
        word-break: break-all;
        top: -20px;
        position: relative;
    }
    .fold_tag-content_barcode {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: opacity 0.3s, max-height 0.7s;
        width: 230px;
        height: 1000px;
        margin-left: 30px;
        word-break: break-all;
        top: -20px;
        position: relative;
    }
    .fold_tag-content_electronic_money {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: opacity 0.3s, max-height 0.7s;
        width: 230px;
        height: 1000px;
        margin-left: 30px;
        word-break: break-all;
        top: -20px;
        position: relative;
    }
    .fold_tag-check:checked + .fold_tag-label + .fold_tag-content_credit {
        /* チェックされたとき：表示 */
        max-height: 850px;  /* この値は内容に応じて調整 */
        opacity: 1;
        padding: 15px 0;
        visibility: visible;
    }
    .fold_tag-check:checked + .fold_tag-label + .fold_tag-content_barcode {
        /* チェックされたとき：表示 */
        max-height: 930px;  /* この値は内容に応じて調整 */
        opacity: 1;
        padding: 15px 0;
        visibility: visible;
    }
    .fold_tag-check:checked + .fold_tag-label + .fold_tag-content_electronic_money {
        /* チェックされたとき：表示 */
        max-height: 550px;  /* この値は内容に応じて調整 */
        opacity: 1;
        padding: 15px 0;
        visibility: visible;
    }
    .fold_tag-check:checked + .fold_tag-label::after {
        transform: rotate(180deg);
    }
    /* タグの見出し */
    .tag_head{
        width: 70%;
        height: 34px;
        font-family: Noto Serif JP;
        border-bottom: solid 4px #FFEB8F;
        font-size: 20px;
        color: #333333;
        margin: 20px 0 20px 0;
    }
    .tag_head::after{
        height: 3px;
        position: relative;
        content: " ";
        display: block;
        border-bottom: solid 3px #FED121;
        width: 20%;
    }
    .tag_commonly_used{
        margin: 30px 0 25px 0;;
        font-size: 14px;
        font-weight: 550;
        color: #333333;
    }
    .normal_tag{
        margin: 35px 0 25px 0;
        font-size: 14px;
        font-weight: 550;
        color: #333333;
    }
    .tag_content{
        width: 50%;
        font-size: 14px;
        line-height: 1.8;
        border-bottom: dashed 3px #d3d3d3;
        margin: 15px 0 15px 20px;
        color: #333333;
        background-color: transparent;
        cursor: pointer;
        position: relative;
        transition: border-bottom 0.3s ease;
    }
    .tag_content:active {
        border-bottom: dashed 3px black;
    }    
    /* 空白入れる */
    .tag_blank{
        width: 100%;
        height: 20px;
    }
    .line{
        height: 0px;
        line-height : 1.8 ;
        border-bottom: dashed 3px #666666;
        text-transform: uppercase;
        word-wrap: break-word;
        margin: -5px 50px 0 80px;
    }
    
    .map_shop_frame_box{
        display: flex;
        justify-content: flex-start;
        margin: 20px 50px 0 80px;
    }
    .shop_frame_box{
        background-color: #f1f1f1;
        float: right;
        width: 100%;
        max-width: 410px;
        height: 80vh;
        margin: 0px 0px 70px 40px;
        overflow: auto;
        padding-left: 10px;
        border-radius: 20px;
    }
    .shop_frame_box::-webkit-scrollbar{
        width: 10px;
        border-radius: 20px;
    }
    .shop_frame_box::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: #ccc8c6;
    }
    /* web階層の表示 */
    .web_hierarchy{
        margin: 20px 0 0px 80px;
    }
    .web_hierarchy:before {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        background-color:  #CCC0B0;
        border-radius: 50%;
        top: 1px;
        position: relative;
    }
    .web_hierarchy a{
        color: #696969;
        font-size: 16px;
        letter-spacing: 1px;
        border-radius: 5px;
        transition: 0.3s ease-in-out;
        padding: 5px;
    }
    .web_hierarchy a:hover{
        background: #CCC0B0;
        color: #FFF;
    }
    .web_hierarchy span{
        font-size: 16px;
        letter-spacing: 1px;
        color: #696969;
    }
    /* お店のスライド枠の装飾 */
    .shop_frame {
        background-color: #fffaf7;
        margin: 30px 10px;
        width: 330px;
        min-height: 250px;
        height: 30%;
        text-decoration: none;
        border: solid 3px #FED121;
        float: left;
        position: relative;
        padding: 0.25em 1em;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    .shop_frame:hover {
        background-color: #f0e8e6;
        border: solid 3px #FED121;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
    .active {
        background-color: #e8e0dd;
        border: solid 3px #FABD70;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }
    /* お店の名前 */
    .storeName{
        font-size: 20px;
        font-weight: 700;
        line-height : 1.8 ;
        border-bottom: dashed 2px #d3d3d3;
        text-transform: uppercase;
        word-wrap: break-word;
        margin-top: 5px;
        color: #333333;
    }
    /* お店の距離テキスト */
    .located{
        font-size: 16px;
        font-family: Inter;
        font-weight: 600;
        word-wrap: break-word;
        color: #333333;
    }
    .payments{
        font-size: 16px;
        color: #333333;
    }
    .detail_button{
        display: flex;
        justify-content: left;
    }
    .detail_button a{
        color: #333333;
        background: #f1f1f1;
        font-size: 14px;
        font-family: Inter;
        word-wrap: break-word;
        border-radius: 10px;
        padding: 8px 15px;
        transition: 0.3s ease-in-out;
        text-decoration:none;
    }
    .detail_button a:hover {
        color: #555555;
        background-color: #dcdcdc;
    }
    .detail_button a:active {
        color: #ffffff;
        background-color: #333333;
        border: 1px solid #222222;
    }

    footer{
        width: 100%;
        height: 100px;
        background-color: #ccc8c6;
        color: white;
        text-align: center;
        font-size: 14px;
        padding-top: 10px;
    }
}
/* =====以上pcの表示====== */