/* 以下スマホの表示 */
@media (max-width: 480px) {
    .header_div{
        display:none;
    }

    .header_div_phone{
        width: 100%;
        height: 90px;
        position: relative;
    }

    .logo{
        width: 100px;
        height: 40px;
        margin: 10px;
        position: absolute;
    }

    .title{
        top: 15px;
        left: 140px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 20px;
        font-family: Source Serif Pro;
        font-weight: 600;
        text-transform: uppercase;
        word-wrap: break-word;
    }

    p.explanation{
        top: 53px;
        left: 5px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 7px;
        font-family: Source Serif Pro;
        font-weight: 400;
        /* text-transform: uppercase; */
        word-wrap: break-word;
    }

    .line{
        width: 100%;
        height: 0px;
        position: absolute;
        top: 90%;
        border-top: 2px solid #000;
    }

    .search-alert{
        width: 95%;
        margin: 20px auto;
    }

    .tagList{
        width: 100%;
        position: relative;
        margin: 20px auto 15px;
        display: flex; /* 要素をFlexコンテナとして定義する */
        flex-wrap: wrap;
    }

    .categoryBox{
        mix-blend-mode: darken;
        background: #F4F4F4;
        border: 1px black solid;
        position: relative;
        text-align: center;
        cursor:pointer;
        margin: 5px 5px;
    }

    .slideFlame{
        width: 100%;
        height: 550px;
        background: white;
        border: 2px black solid;
        overflow-y: scroll;          /* 縦方向にスクロール可能にする */
        border: 1px solid #000;      /* わかりやすくボーダーを引く */
        margin: 0 auto;
    }

    .slideBox{
        width: 100%;
        height: 145px;
        margin: 5px auto; /*画面の中央に寄せる*/
        cursor:pointer;
    }

    .location{
        font-size:15px;
        color:gray;
    }

    .storeName{
        color: black;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        word-wrap: break-word;
    }

}

/* =====以下 pcの表示===== */
@media (min-width: 481px) {

    .header_div_phone{
        display:none;
    }
    
    .header_div{
        width: 1000px;
        height: 150px;
        position: relative;
        margin: 0 auto;
    }

    .logo{
        width: 200px;
        height: 80px;
        left: 0px;
        top: 20px;
        position: absolute;
    }

    .title{
        width: 517px;
        height: 65px;
        top: 60px;
        left: 200px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 36px;
        font-family: Source Serif Pro;
        font-weight: 600;
        text-transform: uppercase;
        word-wrap: break-word;
    }

    p.explanation {
        top:103px;
        left: 150px;
        position: absolute;
        text-align: center;
        color: #333333;
        font-size: 15px;
        font-family: Source Serif Pro;
        font-weight: 400;
        /* text-transform: uppercase; */
        word-wrap: break-word;
    }
    

    .line{
        width: 100%;
        height: 0px;
        position: absolute;
        top: 90%;
        border-top: 2px solid #000;
    }

    .search_div{
        width: 270px;
        height: 80px;
        position: absolute;
        top: 50%;
        margin-top: -40px; /* この要素の高さの半分 */
        right: 0px;
    }

    .searchImage{
        width: 30px;
        height: 30px;
        top: 30px;
        position: absolute;
        float: left;
    }

    .search{
        width: 55px;
        height: 45px;
        top: 25px;
        left: 35px;
        position: absolute;
        color: black;
        font-size: 24px;
        font-family: Noto Serif JP;
        font-weight: 600;
        text-transform: uppercase;
        word-wrap: break-word;
        float: left;
    }

    .searchWindow{
        width: 170px;
        height: 45px;
        top: 22px;
        left: 95px;
        position: absolute;
        background: #F6F6F6;
        float: left;
    }

    .search-alert{
        width: 1000px;
        margin: 20px auto;
    }

    .tagList{
        height: 90px;
        width: 1000px;
        position: relative;
        margin: 0 auto;
        display: flex; /* 要素をFlexコンテナとして定義する */
        list-style: none; /* リストのスタイルを無効にする */
    }

    .categoryBox{
        width: 138px;
        height: 38px;
        mix-blend-mode: darken;
        background: #F4F4F4;
        border: 1px black solid;
        position: relative;
        text-align: center;
        padding: 5px 0;
        margin: 20px;
        cursor:pointer;
    }

    .slideFlame{
        width: 680px;
        height: 550px;
        background: white;
        border: 2px black solid;
        overflow-y: scroll;          /* 縦方向にスクロール可能にする */
        border: 1px solid #000;      /* わかりやすくボーダーを引く */
        margin: 0 auto;
    }

    .slideBox{
        width: 650px;
        height: 145px;
        /* background: #F6F6F6; */
        /* border: 2px black solid; */
        /* padding: 0.5em 1em; */
        margin: 1em auto; /*画面の中央に寄せる*/
        cursor:pointer;
        /* position: relative; */
    }

    .storeName{
        color: black;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        word-wrap: break-word;
    }

}
/* =====以上pcの表示====== */