/* 以下スマホの表示 */
@media (max-width: 480px) {

    .header_div{
        display:none;
    }

    .header_div_phone{
        width: 100%;
        height: 50px;
        position: relative;
    }

    .logo{
        width: 100px;
        height: 40px;
        margin: 10px;
        position: absolute;
    }

    .title{
        top: 15px;
        left: 140px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 20px;
        font-family: Source Serif Pro;
        font-weight: 600;
        text-transform: uppercase;
        word-wrap: break-word;
    }

    .line{
        width: 100%;
        height: 0px;
        position: absolute;
        top: 90%;
        border-top: 2px solid #000;
    }

    .shopName {
        width: 100%;
        margin: 30px 10px 0;
        font-family: Noto Serif JP;
        font-weight: 600;
        text-transform: uppercase;
        word-wrap: break-word;
        display: flex; /*横並び*/
    }

    .usePymentsStr{
        left: 40px;
        top: 20px;
        font-size: 14px;
        position: relative;
    }

    .credit_flex{
        width: 1000px;
        height: 80px;
        margin: 20px auto;
        display: flex; /*横並び*/
    }
    .credit_image{
        border-bottom: solid 4px #FFEB8F;
        width: 120px;
        height: 81px;
        background: url('credit.jpg');
        background-size: cover;
    }
    .credit_text{
        border-bottom: solid 4px #FFEB8F;
        top: 36px;
        height: 45px;
        font-size: 24px;
        color: black;
        position: relative;
    }
    .credit_text::after{
        position: absolute;
        content: " ";
        display: block;
        border-bottom: solid 3px #FED121;
        bottom: -3px;
        width: 30%;
    }

    .barcode_flex{
        width: 1000px;
        margin: 20px auto;
        display: flex; /*横並び*/
    }
    .barcode_image{
        border-bottom: solid 4px #FFEB8F;
        width: 113px;
        height: 102px;
        background: url('barcode.jpg');
        background-size: cover;
    }
    .barcode_text{
        border-bottom: solid 4px #FFEB8F;
        top: 57px;
        height: 45px;
        font-size: 24px;
        color: black;
        position: relative;
    }
    .barcode_text::after{
        position: absolute;
        content: " ";
        display: block;
        border-bottom: solid 3px #FED121;
        bottom: -3px;
        width: 30%;
    }

    .electronic_money_flex{
        width: 1000px;
        margin: 20px auto;
        display: flex; /*横並び*/
    }
    .electronic_money_image{
        border-bottom: solid 4px #FFEB8F;
        width: 104px;
        height: 100px;
        background: url('electronic_money.jpg');
        background-size: cover;
    }
    .electronic_money_text{
        border-bottom: solid 4px #FFEB8F;
        top: 55px;
        height: 45px;
        font-size: 24px;
        color: black;
        position: relative;
    }
    .electronic_money_text::after{
        position: absolute;
        content: " ";
        display: block;
        border-bottom: solid 3px #FED121;
        bottom: -3px;
        width: 30%;
    }

    /* ================== */
    /* 決済サービスボタン設定 */
    .portfolio-experiment {
        width: 1000px;
        margin: 20px auto;
    }
    .portfolio-experiment a {
    color: #2d2d2d;
    padding: 0.7em calc(0.7em * 1.2);
    display: inline-block;
    position: relative;
    font-size: 1.5em;
    cursor: pointer;
    letter-spacing: 0.07em;
    }
    .portfolio-experiment a .text {
    font-family: proxima-nova, monospace;
    font-size: 16px;
    transform: translate3d(0, 0.7em, 0);
    display: block;
    transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
    }
    .portfolio-experiment a:after {
        display: none;
    }
    .portfolio-experiment .line {
    position: absolute;
    background: #2d2d2d;
    }
    .portfolio-experiment .line.-right, .portfolio-experiment .line.-left {
    width: 3px;
    bottom: -3px;
    top: -3px;
    transform: scale3d(1, 0, 1);
    }
    .portfolio-experiment .line.-top, .portfolio-experiment .line.-bottom {
    height: 3px;
    left: -3px;
    right: -3px;
    transform: scale3d(0, 1, 1);
    }
    .portfolio-experiment .line.-right {
    right: -3px;
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
    transform-origin: top;
    }
    .portfolio-experiment .line.-top {
    top: -3px;
    transition: transform 0.08s linear 0.43s;
    transform-origin: left;
    }
    .portfolio-experiment .line.-left {
    left: -3px;
    transition: transform 0.08s linear 0.51s;
    transform-origin: bottom;
    }
    .portfolio-experiment .line.-bottom {
    bottom: -3px;
    transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
    transform-origin: right;
    }
    .portfolio-experiment a:hover .text,
    .portfolio-experiment a:active .text {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
    }
    .portfolio-experiment a:hover:after,
    .portfolio-experiment a:active:after {
    transform: scale3d(0, 1, 1);
    right: -3px;
    left: -3px;
    transform-origin: right;
    transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
    }
    .portfolio-experiment a:hover .line,
    .portfolio-experiment a:active .line {
    transform: scale3d(1, 1, 1);
    }
    .portfolio-experiment a:hover .line.-right,
    .portfolio-experiment a:active .line.-right {
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
    transform-origin: bottom;
    }
    .portfolio-experiment a:hover .line.-top,
    .portfolio-experiment a:active .line.-top {
    transition: transform 0.08s linear 0.4s;
    transform-origin: right;
    }
    .portfolio-experiment a:hover .line.-left,
    .portfolio-experiment a:active .line.-left {
    transition: transform 0.08s linear 0.48s;
    transform-origin: top;
    }
    .portfolio-experiment a:hover .line.-bottom,
    .portfolio-experiment a:active .line.-bottom {
    transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    transform-origin: left;
    }
    
    /*# sourceMappingURL=bottom.css.map */
    
    .backbutton {
        margin-top: 200px;
        text-align: center;
    }
}
/* =====以下 pcの表示===== */
@media (min-width: 481px) {

    .header_div_phone{
        display:none;
    }
    
    .header_div{
        width: 1000px;
        height: 150px;
        position: relative;
        margin: 0 auto;
    }

    .logo{
        width: 200px;
        height: 80px;
        left: 0px;
        top: 20px;
        position: absolute;
    }

    .title{
        width: 517px;
        height: 65px;
        top: 60px;
        left: 200px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 36px;
        font-family: Source Serif Pro;
        font-weight: 600;
        text-transform: uppercase;
        word-wrap: break-word;
    }

    .line{
        width: 100%;
        height: 0px;
        position: absolute;
        top: 90%;
        border-top: 2px solid #000;
    }

    .search_div{
        width: 270px;
        height: 80px;
        position: absolute;
        top: 50%;
        margin-top: -40px; /* この要素の高さの半分 */
        right: 0px;
    }

    .searchImage{
        width: 30px;
        height: 30px;
        top: 30px;
        position: absolute;
        float: left;
    }

    .search{
        width: 55px;
        height: 45px;
        top: 25px;
        left: 35px;
        position: absolute;
        color: black;
        font-size: 24px;
        font-family: Noto Serif JP;
        font-weight: 600;
        text-transform: uppercase;
        word-wrap: break-word;
        float: left;
    }

    .searchWindow{
        width: 170px;
        height: 45px;
        top: 22px;
        left: 95px;
        position: absolute;
        background: #F6F6F6;
        float: left;
    }

    .shopName {
        width: 1000px;
        margin: 20px auto;
        font-family: Noto Serif JP;
        font-weight: 600;
        text-transform: uppercase;
        word-wrap: break-word;
        display: flex; /*横並び*/
    }

    .usePymentsStr{
        left: 40px;
        top: 20px;
        font-size: 14px;
        position: relative;
    }

    
    .credit_flex{
        width: 1000px;
        height: 80px;
        margin: 20px auto;
        display: flex; /*横並び*/
    }
    .credit_image{
        border-bottom: solid 4px #FFEB8F;
        width: 120px;
        height: 81px;
        background: url('credit.jpg');
        background-size: cover;
    }
    .credit_text{
        border-bottom: solid 4px #FFEB8F;
        top: 36px;
        height: 45px;
        font-size: 24px;
        color: black;
        position: relative;
    }
    .credit_text::after{
        position: absolute;
        content: " ";
        display: block;
        border-bottom: solid 3px #FED121;
        bottom: -3px;
        width: 30%;
    }

    .barcode_flex{
        width: 1000px;
        margin: 20px auto;
        display: flex; /*横並び*/
    }
    .barcode_image{
        border-bottom: solid 4px #FFEB8F;
        width: 113px;
        height: 102px;
        background: url('barcode.jpg');
        background-size: cover;
    }
    .barcode_text{
        border-bottom: solid 4px #FFEB8F;
        top: 57px;
        height: 45px;
        font-size: 24px;
        color: black;
        position: relative;
    }
    .barcode_text::after{
        position: absolute;
        content: " ";
        display: block;
        border-bottom: solid 3px #FED121;
        bottom: -3px;
        width: 30%;
    }

    .electronic_money_flex{
        width: 1000px;
        margin: 20px auto;
        display: flex; /*横並び*/
    }
    .electronic_money_image{
        border-bottom: solid 4px #FFEB8F;
        width: 104px;
        height: 100px;
        background: url('electronic_money.jpg');
        background-size: cover;
    }
    .electronic_money_text{
        border-bottom: solid 4px #FFEB8F;
        top: 55px;
        height: 45px;
        font-size: 24px;
        color: black;
        position: relative;
    }
    .electronic_money_text::after{
        position: absolute;
        content: " ";
        display: block;
        border-bottom: solid 3px #FED121;
        bottom: -3px;
        width: 30%;
    }

    /* ================== */
    /* 決済サービスボタン設定 */
    .portfolio-experiment {
        width: 1000px;
        margin: 20px auto;
    }
    .portfolio-experiment a {
    color: #2d2d2d;
    padding: 0.7em calc(0.7em * 1.2);
    display: inline-block;
    position: relative;
    font-size: 1.5em;
    cursor: pointer;
    letter-spacing: 0.07em;
    }
    .portfolio-experiment a .text {
    font-family: proxima-nova, monospace;
    font-size: 16px;
    transform: translate3d(0, 0.7em, 0);
    display: block;
    transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
    }
    .portfolio-experiment a:after {
        display: none;
    }
    .portfolio-experiment .line {
    position: absolute;
    background: #2d2d2d;
    }
    .portfolio-experiment .line.-right, .portfolio-experiment .line.-left {
    width: 3px;
    bottom: -3px;
    top: -3px;
    transform: scale3d(1, 0, 1);
    }
    .portfolio-experiment .line.-top, .portfolio-experiment .line.-bottom {
    height: 3px;
    left: -3px;
    right: -3px;
    transform: scale3d(0, 1, 1);
    }
    .portfolio-experiment .line.-right {
    right: -3px;
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
    transform-origin: top;
    }
    .portfolio-experiment .line.-top {
    top: -3px;
    transition: transform 0.08s linear 0.43s;
    transform-origin: left;
    }
    .portfolio-experiment .line.-left {
    left: -3px;
    transition: transform 0.08s linear 0.51s;
    transform-origin: bottom;
    }
    .portfolio-experiment .line.-bottom {
    bottom: -3px;
    transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
    transform-origin: right;
    }
    .portfolio-experiment a:hover .text,
    .portfolio-experiment a:active .text {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
    }
    .portfolio-experiment a:hover:after,
    .portfolio-experiment a:active:after {
    transform: scale3d(0, 1, 1);
    right: -3px;
    left: -3px;
    transform-origin: right;
    transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
    }
    .portfolio-experiment a:hover .line,
    .portfolio-experiment a:active .line {
    transform: scale3d(1, 1, 1);
    }
    .portfolio-experiment a:hover .line.-right,
    .portfolio-experiment a:active .line.-right {
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
    transform-origin: bottom;
    }
    .portfolio-experiment a:hover .line.-top,
    .portfolio-experiment a:active .line.-top {
    transition: transform 0.08s linear 0.4s;
    transform-origin: right;
    }
    .portfolio-experiment a:hover .line.-left,
    .portfolio-experiment a:active .line.-left {
    transition: transform 0.08s linear 0.48s;
    transform-origin: top;
    }
    .portfolio-experiment a:hover .line.-bottom,
    .portfolio-experiment a:active .line.-bottom {
    transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    transform-origin: left;
    }
    
    /*# sourceMappingURL=bottom.css.map */
    
    .backbutton {
        margin-top: 200px;
        text-align: center;
    }
}