/* 以下スマホの表示 */
@media (max-width: 480px) {

    .header_div{
        display:none;
    }

    .header_div_phone{
        width: 100%;
        height: 50px;
        position: relative;
    }

    .logo{
        width: 100px;
        height: 40px;
        margin: 10px;
        position: absolute;
    }

    .title{
        top: 15px;
        left: 140px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 20px;
        font-family: Source Serif Pro;
        font-weight: 600;
        text-transform: uppercase;
        word-wrap: break-word;
    }

    .line{
        width: 100%;
        height: 0px;
        position: absolute;
        top: 90%;
        border-top: 2px solid #000;
    }

    .shopName {
        width: 100%;
        margin: 30px 10px 0;
        font-family: Noto Serif JP;
        font-weight: 600;
        text-transform: uppercase;
        word-wrap: break-word;
    }

    .usePymentsStr{
        width: 100%;
        top: 15px;
        font-size: 14px;
        position: relative;
    }

    .credit_flex{
        width: 100%;
        margin: 20px auto;
        display: flex; /*横並び*/
    }
    .credit_image{
        border-bottom: solid 4px #FFEB8F;
        width: 100px;
        height: 60px;
        background: url('credit.jpg');
        background-size: cover;
    }
    .credit_text{
        border-bottom: solid 4px #FFEB8F;
        top: 15px;
        height: 45px;
        font-size: 24px;
        color: black;
        position: relative;
    }
    .credit_text::after{
        position: absolute;
        content: " ";
        display: block;
        border-bottom: solid 3px #FED121;
        bottom: -3px;
        width: 30%;
    }

    .barcode_flex{
        width: 100%;
        display: flex; /*横並び*/
    }
    .barcode_image{
        border-bottom: solid 4px #FFEB8F;
        width: 73px;
        height: 62px;
        background: url('barcode.jpg');
        background-size: cover;
    }
    .barcode_text{
        border-bottom: solid 4px #FFEB8F;
        top: 17px;
        height: 45px;
        font-size: 24px;
        color: black;
        position: relative;
    }
    .barcode_text::after{
        position: absolute;
        content: " ";
        display: block;
        border-bottom: solid 3px #FED121;
        bottom: -3px;
        width: 30%;
    }

    .electronic_money_flex{
        width: 100%;
        display: flex; /*横並び*/
    }
    .electronic_money_image{
        border-bottom: solid 4px #FFEB8F;
        width: 64px;
        height: 60px;
        background: url('electronic_money.jpg');
        background-size: cover;
    }
    .electronic_money_text{
        border-bottom: solid 4px #FFEB8F;
        top: 15px;
        height: 45px;
        font-size: 24px;
        color: black;
        position: relative;
    }
    .electronic_money_text::after{
        position: absolute;
        content: " ";
        display: block;
        border-bottom: solid 3px #FED121;
        bottom: -3px;
        width: 30%;
    }

    /* ================== */
    /* 決済サービスボタン設定 */
    /* ボタンの基本スタイル */
    .button_flex{
        top: 20px;
        width: 100%;
        margin: 20px auto;
        position: relative;
    }
    .button {
        border-radius: 10px;
        margin: 6px;
        padding: 10px;
        font-family: proxima-nova, monospace;
        color: #2d2d2d;
        display: inline-flex;
        border: 1.5px solid #2d2d2d;
        font-size: .8em;
        letter-spacing: 1.5px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    #button-2 {
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }
    #button-2 a {
    position: relative;
    transition: all .35s ease-Out;
    color: #2d2d2d;
    }
    #slide {
    width: 100%;
    height: 100%;
    left: -200px;
    background: #2d2d2d;
    position: absolute;
    transition: all .15s ease-Out;
    bottom: 0;
    }
    #button-2:hover #slide {
    left: 0;
    }
    #button-2:hover a {
        color: #BFC0C0;
    }
    
    /*# sourceMappingURL=bottom.css.map */
    
    .backbutton {
        margin-top: 200px;
        text-align: center;
    }
}
/* =====以下 pcの表示===== */
@media (min-width: 481px) {

    .header_div_phone{
        display:none;
    }
    
    .header_div{
        width: 1000px;
        height: 150px;
        position: relative;
        margin: 0 auto;
    }

    .logo{
        width: 200px;
        height: 80px;
        left: 0px;
        top: 20px;
        position: absolute;
    }

    .title{
        width: 517px;
        height: 65px;
        top: 60px;
        left: 200px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 36px;
        font-family: Source Serif Pro;
        font-weight: 600;
        text-transform: uppercase;
        word-wrap: break-word;
    }

    .line{
        width: 100%;
        height: 0px;
        position: absolute;
        top: 90%;
        border-top: 2px solid #000;
    }

    .search_div{
        width: 270px;
        height: 80px;
        position: absolute;
        top: 50%;
        margin-top: -40px; /* この要素の高さの半分 */
        right: 0px;
    }

    .searchImage{
        width: 30px;
        height: 30px;
        top: 30px;
        position: absolute;
        float: left;
    }

    .search{
        width: 55px;
        height: 45px;
        top: 25px;
        left: 35px;
        position: absolute;
        color: black;
        font-size: 24px;
        font-family: Noto Serif JP;
        font-weight: 600;
        text-transform: uppercase;
        word-wrap: break-word;
        float: left;
    }

    .searchWindow{
        width: 170px;
        height: 45px;
        top: 22px;
        left: 95px;
        position: absolute;
        background: #F6F6F6;
        float: left;
    }

    .shopName {
        width: 1000px;
        margin: 20px auto;
        font-family: Noto Serif JP;
        font-weight: 600;
        text-transform: uppercase;
        word-wrap: break-word;
    }

    .usePymentsStr{
        width: 1000px;
        margin: 20px auto;
        font-size: 14px;
        position: relative;
    }

    
    .credit_flex{
        width: 1000px;
        height: 80px;
        margin: 20px auto;
        display: flex; /*横並び*/
    }
    .credit_image{
        border-bottom: solid 4px #FFEB8F;
        width: 100px;
        height: 61px;
        background: url('credit.jpg');
        background-size: cover;
    }
    .credit_text{
        border-bottom: solid 4px #FFEB8F;
        top: 16px;
        height: 45px;
        font-size: 24px;
        color: black;
        position: relative;
    }
    .credit_text::after{
        position: absolute;
        content: " ";
        display: block;
        border-bottom: solid 3px #FED121;
        bottom: -3px;
        width: 30%;
    }

    .barcode_flex{
        width: 1000px;
        margin: 40px auto;
        display: flex; /*横並び*/
    }
    .barcode_image{
        border-bottom: solid 4px #FFEB8F;
        width: 73px;
        height: 62px;
        background: url('barcode.jpg');
        background-size: cover;
    }
    .barcode_text{
        border-bottom: solid 4px #FFEB8F;
        top: 17px;
        height: 45px;
        font-size: 24px;
        color: black;
        position: relative;
    }
    .barcode_text::after{
        position: absolute;
        content: " ";
        display: block;
        border-bottom: solid 3px #FED121;
        bottom: -3px;
        width: 30%;
    }

    .electronic_money_flex{
        width: 1000px;
        margin: 40px auto;
        display: flex; /*横並び*/
    }
    .electronic_money_image{
        border-bottom: solid 4px #FFEB8F;
        width: 64px;
        height: 60px;
        background: url('electronic_money.jpg');
        background-size: cover;
    }
    .electronic_money_text{
        border-bottom: solid 4px #FFEB8F;
        top: 15px;
        height: 45px;
        font-size: 24px;
        color: black;
        position: relative;
    }
    .electronic_money_text::after{
        position: absolute;
        content: " ";
        display: block;
        border-bottom: solid 3px #FED121;
        bottom: -3px;
        width: 30%;
    }

    /* ================== */
    /* 決済サービスボタン設定 */
    .button_flex{
        top: 20px;
        width: 1000px;
        margin: 20px auto;
        position: relative;
    }
    .button {
        border-radius: 10px;
        margin: 6px;
        padding: 10px;
        font-family: proxima-nova, monospace;
        color: #2d2d2d;
        display: inline-flex;
        border: 1.5px solid #2d2d2d;
        font-size: .8em;
        letter-spacing: 1.5px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    /*# sourceMappingURL=bottom.css.map */
    
    .backbutton {
        margin-top: 100px;
        text-align: center;
    }
}