<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8"> 
  <link rel="icon" type="image/png" href="{{url_for('static', filename='icon.png')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style_detail.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">    	
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP" rel="stylesheet">
  <title>PayView</title>
  <style>
    /* すべての画像のスタイル */
    img {
      display: block; /* 画像をブロック要素として扱う */
      margin: auto;    /* 画像を中央に配置 */
    }

    /* 特定の画像のスタイル */
    .custom-image {
      width: 30%; /* 幅を50%に設定 */
    }
  </style>
  {# bootstrap setting #}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!-- 画像の大きさを取得 -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<header>
  <div class="header_div">
    <!-- ロゴの画像挿入 --> 
    <a href="{{ url_for('top') }}">
      <img src="{{ url_for('static', filename='logo.jpg')}}" alt="payview" class="logo">
    </a>
    <!-- タイトル -->
    <div class="title">Shop Detail</div>
    <!-- 検索窓 -->
    <div class="search_div">
      <img src="{{ url_for('static', filename='kensaku.jpeg')}}" class="searchImage">
      <div class="search" src="https://via.placeholder.com/30x30">検索</div>
      <div class="searchWindow"></div>
    </div>
    <!-- ライン -->
    <hr class="line">
  </div>
  
  {# ====スマホ用のヘッダー==== #}
  <div class="header_div_phone">
    <!-- ロゴの画像挿入 --> 
    <a href="{{ url_for('top') }}">
      <img src="{{ url_for('static', filename='logo.jpg')}}" alt="payview" class="logo">
    </a>
    <!-- タイトル -->
    <div class="title">Shop Detail</div>
    <!-- ライン -->
    <hr class="line">
  </div>
  {# ====スマホ用のヘッダー==== #}
</header>
<body>
  <div id="shopDetail">
    <h1 class="shopName">{{ shop_detail[1] }}</h1>
    <div class="usePymentsStr">使用できる決済サービス等一覧</div>
    <div class="paymentList">
      {% for name, scheme in shop_detail[3] %}
          {% if scheme is not none %}
            <button class="paymentBadge" onclick="location.href='{{ scheme }}'">
            {{ name }}
            </button>         
          {% else %}
            <button class="paymentBadge">
              {{ name }}
            </button>
          {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="backbutton">
    <button class="btn btn-secondary" onclick="history.back()" type="button">戻る</button>
  </div>
  {# bootstrap setting #}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
