<!DOCTYPE html>
<html lang="ja">
<head prefix="og: https://ogp.me/ns#">
  <meta charset="UTF-8"> 
  <link rel="icon" type="image/png" href="{{url_for('static', filename='icon.png')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style_detail.css')}}">
  <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">    	
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP" rel="stylesheet">
  {# 検索窓の虫眼鏡のフォントを使用するため以下のフォントを追加 #}
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <title>PayView</title>
  <style>
    /* すべての画像のスタイル */
    img {
      display: block; /* 画像をブロック要素として扱う */
      margin: auto;    /* 画像を中央に配置 */
    }

    /* 特定の画像のスタイル */
    .custom-image {
      width: 30%; /* 幅を50%に設定 */
    }
  </style>
  <!-- 画像の大きさを取得 -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css" media="screen">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <meta property="og:url" content="https://payview.st.ie.u-ryukyu.ac.jp"/>
  <meta property="og:type" content="article" />
  <meta property="og:title" content="PayView" />
  <meta property="og:description" content="お店の決済サービスを調べることができます" />
  <meta property="og:site_name" content="PayView" />
  <meta property="og:image" content="https://payview.st.ie.u-ryukyu.ac.jp/static/payviewPig3.png" />
  <meta name=”twitter:card” content="summary_large_image"/>

</head>
<header>
  {# ====PC用のヘッダー==== #}
  <div class="header_div">
    <!-- ロゴの画像挿入 --> 
    <a href="{{ url_for('render_map') }}">
      <img src="{{ url_for('static', filename='logo.png')}}" alt="payview" class="logo">
    </a>
    <!-- 検索窓 -->
    <div class="search_div">
      <form action="{{ url_for('search_shop.text_search_map')}}" method="POST">
        <select class="select_distance" name="select_distance">
          {% for i in DROP_DOWN_DISTANCE %}
            {% if i == -1%}
              <option value="{{ i }}">すべて</option>
            {% else %}
              <option value="{{ i }}" >{{ i }} km</option>
            {% endif %}
          {% endfor %}
        </select>
        <div class="search_container">
          <input type="text" name="search_strings" placeholder="キーワードを入力">
          <input type="submit" value="&#xf002">
        </div>
      </form>
    </div> 
  </div>
  
  {# ====スマホ用のヘッダー==== #}
  <div class="header_div_phone">
    <!-- ロゴの画像挿入 --> 
    <a href="{{ url_for('render_map') }}">
      <img src="{{ url_for('static', filename='logo.png')}}" alt="payview" class="logo">
    </a>
    <!-- 検索窓 -->
    <div class="search_div">
      <form action="{{ url_for('search_shop.text_search_map')}}" method="POST">
        <select class="select_distance" name="select_distance">
          {% for i in DROP_DOWN_DISTANCE %}
            {% if i == -1%}
              <option value="{{ i }}">すべて</option>
            {% else %}
              <option value="{{ i }}" >{{ i }} km</option>
            {% endif %}
          {% endfor %}
        </select>
        <div class="search_container">
          <input type="text" name="search_strings" placeholder="キーワードを入力">
          <input type="submit" value="&#xf002">
        </div>
      </form>
    </div> 
    <!-- ハンバーガーメニュー -->
    <div class="hamburger_menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="menu">
      <!-- タグ欄 -->
      <div class="category_frame_box_phone">
        <!-- 決済サービスのタグ -->
        <div class="category_memu_phone">Category Menu</div>
        <div class="category_menu_line_phone"></div>
        <div class="payment_service_head_phone">決済サービス</div>
          <!-- 現金の表示 -->
          {% for cash in cash_group %}
            <a style="text-decoration: none;" href="{{ url_for('search_shop.search_result_map', payment_or_tag_id=cash['payment_id'])}}" role="button">
              <div class="cash_label_phone">{{ cash["name"] }}</div>
            </a> 
          {% endfor %}
          <input id="fold_tag_phone-check1" class="fold_tag_phone-check" type="checkbox">
          <label class="fold_tag_phone-label" for="fold_tag_phone-check1">クレジットカード</label>
          <div class="fold_tag_phone-content_credit">
            {% for credit_name in credit_names %}
              <a style="text-decoration: none;" href="{{ url_for('search_shop.search_result_map', payment_or_tag_id=credit_name['payment_id'])}}" role="button">
                <div class="tag_content_phone">{{ credit_name["name"] }}</div>
              </a>
            {% endfor %}
          </div>
        
          <input id="fold_tag_phone-check2" class="fold_tag_phone-check" type="checkbox">
          <label class="fold_tag_phone-label" for="fold_tag_phone-check2">バーコード・QRコード決済</label>
          <div class="fold_tag_phone-content_barcode">
            {% for barcode_name in barcode_names %}
              <a style="text-decoration: none;" href="{{ url_for('search_shop.search_result_map', payment_or_tag_id=barcode_name['payment_id'])}}" role="button">
                <div class="tag_content_phone">{{ barcode_name["name"] }}</div>
              </a>
            {% endfor %}
          </div>
        
          <input id="fold_tag_phone-check3" class="fold_tag_phone-check" type="checkbox">
          <label class="fold_tag_phone-label" for="fold_tag_phone-check3">電子マネー</label>
          <div class="fold_tag_phone-content_electronic_money">
            {% for electronic_money_name in electronic_money_names %}
              <a style="text-decoration: none;" href="{{ url_for('search_shop.search_result_map', payment_or_tag_id=electronic_money_name['payment_id'])}}" role="button">
                <div class="tag_content_phone">{{ electronic_money_name["name"] }}</div>
              </a>
            {% endfor %}
          </div>
          <!-- タグ -->
          <div class="tag_head_phone">タグ</div>
          <div class="tag_commonly_used">よく使われるタグ Top5</div>
          {% for tag_commonly in tag_commonly_used_list %}
            <a style="text-decoration: none;" href="{{ url_for('search_shop.search_result_map', payment_or_tag_id=tag_commonly['tag_id'])}}" role="button">
              <div class="tag_content_phone">{{ tag_commonly["name"] }}</div>
            </a>
          {% endfor %}
          <div class="normal_tag">50音順</div>
          {% for a_dan in tag_id_name_dict_every_gyou %}
            <div class="normal_tag">{{ a_dan }} 行</div> 
            {% for tag_id_name in tag_id_name_dict_every_gyou[a_dan] %}
              <a style="text-decoration: none;" href="{{ url_for('search_shop.search_result_map', payment_or_tag_id=tag_id_name['tag_id'])}}" role="button">
                <div class="tag_content_phone">{{ tag_id_name["name"] }}</div>
              </a>
            {% endfor %}
          {% endfor %}
          <div class="tag_black"></div>
      </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".hamburger_menu").click(function() {
                $(this).toggleClass('active');
                $(".menu").toggleClass('active');
            });
        });
    </script>
  </div>
  <script src="{{ url_for('static', filename='javascript/geolocation.js') }}"></script>
</header>
<body class="background">
  <div class="title">Shop Detail</div>
  <div class="line"></div>
  <div id=myPopup class="popup">
    <div class="popup-content">
      <span id=closeBtn onclick="closePopup()">&times;</span>
      <p>使い方<br><br>現在位置より半径1kmの飲食店・スーパーを表示するブ-。<br>
         上部の距離を変更して範囲を指定できるブ-。<br>
        スマホだと詳細画面でお手持ちのアプリに飛ぶことができるブヒッ</p>
    </div>
  </div>
  <img src="{{ url_for('static', filename='payviewPig4.png')}}" alt="payview-pig 4" id="scrollPig" onclick="openPopup()" onmouseover="highlightImage()" onmouseout="resetImageHighlight()">
  <!-- トップに戻るボタン -->
  <a href="#" id="topbtn"></a>
  <div class="detail_category_frame_box">
    <div id="shopDetail" class="detail_frame_box">
      <!-- web階層の表示 -->
      <div class="web_hierarchy"><!-- "hierarchy"は階層のこと -->
        <a href="{{ url_for('render_map') }}">Top</a>
        {% if web_hierarchy_list[0]=='' %}
          <span> ></span>
          <span>{{ web_hierarchy_list[1] }}</span>
        {% elif web_hierarchy_list[0]=='検索結果' %}
          <span> ></span>
          <a href="#" onclick="history.back(); return false;">{{ web_hierarchy_list[0] }}</a>
          <span> ></span>
          <span>{{ web_hierarchy_list[1] }}</span>
        {% endif %}
      </div>
      <h1 class="shopName">{{ shop_name }}</h1> 
      <div class="usePymentsStr">使用できる決済サービス等一覧</div>
      {# 現金　#}
      <div class="cash_flex">
        <div class="credit_text">現金</div>
        <div class="cash_image"></div>
      </div>
      <p class="cash_p">使用可</p>
      {# クレジットカード #}
      <div class="credit_flex">
        <div class="credit_text">クレジットカード</div>
        <div class="credit_image"></div>
      </div>
      {% if credit_payments|length == 0 %}
        <div class="content_credit_is_none">
          &times; <!-- バツの表示 -->
        </div>
      {% else %}
        <div class="button_flex">
          {% for credit_payment in credit_payments%}
            {% set name = credit_payment[0] %}
            {% set scheme = credit_payment[1] %}
            <div class="button">
              {% if scheme is not none %}
                <div id="button_pushed">
                  <a href="{{scheme}}">{{name}}</a>
                </div>
              {% else %}
                <div class="button_text">
                  <a>{{name}}</a>
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {# バーコード・QRコード決済 #}
      <div class="barcode_flex">
        <span class="barcode_text">バーコード・QRコード決済</span>
        <span class="barcode_image"></span>
      </div>
      {% if barcode_payments|length == 0 %}
        <div class="content_credit_is_none">
          &times; <!-- バツの表示 -->
        </div>
      {% else %}
        <div class="button_flex">
          {% for barcode_payment in barcode_payments %}
            {% set name = barcode_payment[0] %}
            {% set scheme = barcode_payment[1] %}
            <div class="button">
              {% if scheme is not none %}
                <div id="button_pushed">
                  <a href="{{scheme}}">{{name}}</a>
                </div>
              {% else %}
                <div class="button_text">
                  <a>{{name}}</a>
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {# 電子マネー #}
      <div class="electronic_money_flex">
        <span class="electronic_money_text">電子マネー</span>
        <span class="electronic_money_image"></span>
      </div>
      {% if electronic_money_payments|length == 0 %}
        <div class="content_credit_is_none">
          &times; <!-- バツの表示 -->
        </div>
      {% else %}
        <div class="button_flex">
          {% for electronic_money_payment in electronic_money_payments %}
            {% set name = electronic_money_payment[0] %}
            {% set scheme = electronic_money_payment[1] %}
            <div class="button">
              {% if scheme is not none %}
                <div id="button_pushed">
                  <a href="{{scheme}}">{{name}}</a>
                </div>
              {% else %}
                <div class="button_text">
                  <a>{{name}}</a>
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
      <div class="back_button">
        <a href="#" onclick="history.back(); return false;">戻る</a>
      </div>
    </div>
    <!-- カテゴリ欄 -->
    <div class="category_frame_box">
      <!-- 決済サービスのタグ -->
      <div class="payment_service_head">決済サービス</div>
        <!-- 現金の表示 -->
        {% for cash in cash_group %}
          <a style="text-decoration: none;" href="{{ url_for('search_shop.search_result_map', payment_or_tag_id=cash['payment_id'])}}" role="button">
            <div class="cash_label">{{ cash["name"] }}</div>
          </a> 
        {% endfor %}
        <!-- クレジットカード -->
        <input id="fold_tag-check1" class="fold_tag-check" type="checkbox">
        <label class="fold_tag-label" for="fold_tag-check1">クレジットカード</label>
        <div class="fold_tag-content_credit">
          {% for credit_name in credit_names %}
            <a style="text-decoration: none;" href="{{ url_for('search_shop.search_result_map', payment_or_tag_id=credit_name['payment_id'])}}" role="button">
              <div class="tag_content">{{ credit_name["name"] }}</div>
            </a> 
          {% endfor %}
        </div>    
        <!-- バーコード・QRコード決済 -->
        <input id="fold_tag-check2" class="fold_tag-check" type="checkbox">
        <label class="fold_tag-label" for="fold_tag-check2">バーコード・QRコード決済</label>
        <div class="fold_tag-content_barcode">
          {% for barcode_name in barcode_names %}
            <a style="text-decoration: none;" href="{{ url_for('search_shop.search_result_map', payment_or_tag_id=barcode_name['payment_id'])}}" role="button">
              <div class="tag_content">{{ barcode_name["name"] }}</div>
            </a> 
          {% endfor %}
        </div>
        <!-- 電子マネー -->
        <input id="fold_tag-check3" class="fold_tag-check" type="checkbox">
        <label class="fold_tag-label" for="fold_tag-check3">電子マネー</label>
        <div class="fold_tag-content_electronic_money">
          {% for electronic_money_name in electronic_money_names %}
            <a style="text-decoration: none;" href="{{ url_for('search_shop.search_result_map', payment_or_tag_id=electronic_money_name['payment_id'])}}" role="button">
              <div class="tag_content">{{ electronic_money_name["name"] }}</div>
            </a> 
          {% endfor %}
        </div>
        <!-- タグ -->
        <div class="tag_head">タグ</div>
        <div class="tag_commonly_used">よく使われるタグ Top5</div>
        {% for tag_commonly in tag_commonly_used_list %}
          <a style="text-decoration: none;" href="{{ url_for('search_shop.search_result_map', payment_or_tag_id=tag_commonly['tag_id'])}}" role="button">
            <div class="tag_content">{{ tag_commonly["name"] }}</div>
          </a>
        {% endfor %}
        <div class="normal_tag">50音順</div>
        {% for a_dan in tag_id_name_dict_every_gyou %}
          <div class="normal_tag">{{ a_dan }} 行</div> 
          {% for tag_id_name in tag_id_name_dict_every_gyou[a_dan] %}
            <a style="text-decoration: none;" href="{{ url_for('search_shop.search_result_map', payment_or_tag_id=tag_id_name['tag_id'])}}" role="button">
              <div class="tag_content">{{ tag_id_name["name"] }}</div>
            </a>
          {% endfor %}
        {% endfor %}
    </div>
  </div>
  {# ====フッター==== #}
  <footer>
    <p>©PayView All Rights Reserved.</p>
  </footer>
  <script>
    var rootUrl = window.location.origin;
    const pig1url = rootUrl + "/static/payviewPig4.png";
    const pig2url = rootUrl + "/static/payviewPig5.png";
    const img = [pig1url, pig2url];
    
    let count = -1;
    
    picChange(); // 関数を実行
    
    function picChange() {
    
      count++;
    
      // カウントが最大になれば配列を初期値に戻すため「0」を指定する
      if (count == img.length) count = 0;
    
      // 画像選択
      document.getElementById("scrollPig").src = img[count];
    
      // 1秒ごとに実行
      setTimeout("picChange()", 500);
    
    }
    var isPopupVisible = false;
    var popup = document.getElementById("myPopup")
    var topbtn = document.getElementById("topbtn");
    function closePopup() {
      popup.style.display = "none";
      isPopupVisible = false;
      if (window.scrollY > 100) {
        topbtn.style.display = "block";
      }
    }

    function openPopup() {
      popup.style.display = "block"
      isPopupVisible = true;
      topbtn.style.display= "none";
    }

    // 画像に触れたときにハイライトする関数
    function highlightImage() {
      if (!isPopupVisible) {
        var image = document.getElementById("scrollPig");
        image.style.backgroundColor = "rgba(241, 208, 97, 0.2)"; // 任意のボーダー色を指定
      }
    }

    // 画像から離れたときにハイライトを解除する関数
    function resetImageHighlight() {
      var image = document.getElementById("scrollPig");
      image.style.backgroundColor = "transparent";
    }
    //トップに戻るボタン
    window.addEventListener("scroll", function() {
      var topbtn = document.getElementById("topbtn");
      if (window.scrollY > 100){
        topbtn.style.display = "block";
      } else {
        topbtn.style.display = "none";
      }
    });
  </script>
</body>
</html>
