<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8"> 
    <link rel="icon" type="image/png" href="{{url_for('static', filename="icon.png")}}">
    <link rel="stylesheet" href="{{ url_for("static", filename="style_detail.css")}}">
    <title>PayView</title>
    <style>
      /* すべての画像のスタイル */
      img {
        display: block; /* 画像をブロック要素として扱う */
        margin: auto;    /* 画像を中央に配置 */
      }

      /* 特定の画像のスタイル */
      .custom-image {
        width: 30%; /* 幅を50%に設定 */
      }
    </style>
</head>

<body>
  <main>
    <div id="shopDetail">
        <h1 class="shopName">{{ shop_detail[1] }}</h1>
        <h3 class="shopName">使用できる決済サービス等一覧</h3>
        <div>{{ shop_detail[2] }}</div>
    </div>
    <button class="backbutton" onclick="location.href='{{ url_for('top')}}'" type="button">戻る</button>
  </main>
</body>
</html>
