
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8"> 
  <link rel="icon" type="image/png" href="{{url_for('static', filename='icon.png')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style_loading.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">    	
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP" rel="stylesheet">
  <title>PayView</title>
  {# 位置情報を取得する geolocation.jsを追加 by kouya#}
  <script src="{{ url_for('static', filename='javascript/geolocation.js') }}"></script>
  <!-- 画像の大きさを取得 -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body> <!-- onload="post_position('/top')" -->
  <div class="spinner"></div>
  <div class="ImagePig">
    <img id="pic" src="../static/payviewPig1.png" alt="payview-pig 1">
  </div>
  <h1 class="title">
    <span>l</span>
    <span>o</span>
    <span>a</span>
    <span>d</span>
    <span>i</span>
    <span>n</span>
    <span>g</span>
    <span>.</span>
    <span>.</span>
    <span>.</span>
  </h1>
  <script>
    const img = ["../static/payviewPig1.png", "../static/payviewPig2.png"];
    
    let count = -1;
    
    picChange(); // 関数を実行
    
    function picChange() {
    
      count++;
    
      // カウントが最大になれば配列を初期値に戻すため「0」を指定する
      if (count == img.length) count = 0;
    
      // 画像選択
      document.getElementById("pic").src = img[count];
    
      // 1秒ごとに実行
      setTimeout("picChange()", 100);
    
    }

    const titleElement = document.querySelector(".title");
    const CLASSNAME = "-visible";
    const TIMEOUT = 1500;

    setInterval(() => {
      titleElement.classList.add(CLASSNAME);
      setTimeout(() => {
        titleElement.classList.remove(CLASSNAME);
      }, TIMEOUT);
    }, TIMEOUT * 2);
    </script>
</body>
</html>
