<html lang="ja">
<head>
  <meta charset="UTF-8"> 
  <link rel="icon" type="image/png" href="{{url_for('static', filename='icon.png')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style_map.css')}}">

  <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">    	
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP" rel="stylesheet">
  {# 検索窓の虫眼鏡のフォントを使用するため以下のフォントを追加 #}
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <title>PayView</title>
  <style>
    /* すべての画像のスタイル */
    img {
      display: block; /* 画像をブロック要素として扱う */
      margin: auto;    /* 画像を中央に配置 */
    }

    /* 特定の画像のスタイル */
    .custom-image {
      width: 30%; /* 幅を50%に設定 */
    }
  </style>
  <!-- 画像の大きさを取得 -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<header class="background">
  {# ====PC用のヘッダー==== #}
  <div class="header_div">
    <!-- ロゴの画像挿入 --> 
    <a href="{{ url_for('render_map') }}">
      <img src="{{ url_for('static', filename='logo.png')}}" alt="payview" class="logo">
    </a>
    <!-- 検索窓 -->
    <div class="search_div">
      <form action="{{ url_for('search_shop.text_search_map')}}" method="POST">
        <select class="select_distance" name="select_distance">
          {% for i in DROP_DOWN_DISTANCE %}
            {% if i == selected_distance%}
              {% set selected = "selected"%}
            {% else %}
              {% set selected = "" %}
            {% endif %}
            {% if i == -1%}
              <option value="{{ i }}" {{ selected }}>すべて</option>
            {% else %}
              <option value="{{ i }}" {{ selected }}>{{ i }} km</option>
            {% endif %}
          {% endfor %}
        </select>
        <div class="search_container">
          {% if searched_strings == ""%}
            <input type="text" name="search_strings" placeholder="キーワードを入力">
          {% else %}
            <input type="text" name="search_strings" value="{{ searched_strings }}">
          {% endif%}
          <input type="submit" value="&#xf002">
        </div>
      </form>
    </div>
    <div class="login_user">
      {% if g.user %}
        {# <a class="user_name">{{ g.user['user_name'] }}</a> #}
        <img id="loginPopupButton" class="user_picture" src="{{ g.user['user_picture_url'] }}">
        <div id="loginpopupContainer" class="loginpopup" >
          <a class="userNameIndex">ユーザーネーム</a>
          <a class="user_name">{{ g.user['user_name'] }}</a>
          <a class="logout_btn" href="{{ url_for('google_login.g_logout') }}">ログアウトする</a>
        </div>
      {% else %}
        <img id="loginPopupButton" class="user_picture" src="{{ url_for('static', filename='default_user_icon.png') }}">
        <div id="loginpopupContainer" class="loginpopup" >
          <a class="login_btn" href="{{ url_for('google_login.g_login') }}">ログインする</a>
        </div>
      {% endif %}
     <script src="{{ url_for('static', filename='javascript/login_user.js') }}"></script>
    </div>
    <!-- ハンバーガーメニュー -->
    <div class="hamburger_menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="menu">
      <!-- タグ欄 -->
      <div class="category_frame_box">
        <!-- 決済サービスのタグ -->
        <div class="category_memu">Category Menu</div>
        <div class="category_menu_line"></div>
        <div class="payment_service_head">決済サービス</div>
          <!-- 現金の表示 -->
          {% for cash in cash_group %}
            <a style="text-decoration: none;" href="{{ url_for('search_shop.search_result_map', payment_or_tag_id=cash['payment_id'])}}" role="button">
              <div class="cash_label">{{ cash["name"] }}</div>
            </a> 
          {% endfor %}
          <input id="fold_tag-check1" class="fold_tag-check" type="checkbox">
          <label class="fold_tag-label" for="fold_tag-check1">クレジットカード</label>
          <div class="fold_tag-content_credit">
            {% for credit_name in credit_names %}
              <a style="text-decoration: none;" href="{{ url_for('search_shop.search_result_map', payment_or_tag_id=credit_name['payment_id'])}}" role="button">
                <div class="tag_content">{{ credit_name["name"] }}</div>
              </a>
            {% endfor %}
          </div>
        
          <input id="fold_tag-check2" class="fold_tag-check" type="checkbox">
          <label class="fold_tag-label" for="fold_tag-check2">バーコード・QRコード決済</label>
          <div class="fold_tag-content_barcode">
            {% for barcode_name in barcode_names %}
              <a style="text-decoration: none;" href="{{ url_for('search_shop.search_result_map', payment_or_tag_id=barcode_name['payment_id'])}}" role="button">
                <div class="tag_content">{{ barcode_name["name"] }}</div>
              </a>
            {% endfor %}
          </div>
        
          <input id="fold_tag-check3" class="fold_tag-check" type="checkbox">
          <label class="fold_tag-label" for="fold_tag-check3">電子マネー</label>
          <div class="fold_tag-content_electronic_money">
            {% for electronic_money_name in electronic_money_names %}
              <a style="text-decoration: none;" href="{{ url_for('search_shop.search_result_map', payment_or_tag_id=electronic_money_name['payment_id'])}}" role="button">
                <div class="tag_content">{{ electronic_money_name["name"] }}</div>
              </a>
            {% endfor %}
          </div>
          <!-- タグ -->
          <div class="tag_head">タグ</div>
          <div class="tag_commonly_used">よく使われるタグ Top5</div>
          {% for tag_commonly in tag_commonly_used_list %}
            <a style="text-decoration: none;" href="{{ url_for('search_shop.search_result_map', payment_or_tag_id=tag_commonly['tag_id'])}}" role="button">
              <div class="tag_content">{{ tag_commonly["name"] }}</div>
            </a>
          {% endfor %}
          <div class="normal_tag">50音順</div>
          {% for a_dan in tag_id_name_dict_every_gyou %}
            <div class="normal_tag">{{ a_dan }} 行</div> 
            {% for tag_id_name in tag_id_name_dict_every_gyou[a_dan] %}
              <a style="text-decoration: none;" href="{{ url_for('search_shop.search_result_map', payment_or_tag_id=tag_id_name['tag_id'])}}" role="button">
                <div class="tag_content">{{ tag_id_name["name"] }}</div>
              </a>
            {% endfor %}
          {% endfor %}
          <div class="tag_blank"></div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".hamburger_menu").click(function() {
                $(this).toggleClass('active');
                $(".menu").toggleClass('active');
            });
        });
    </script>
  </div>
  
  {# ====スマホ用のヘッダー==== #}
  <div class="header_div_phone">
    <!-- ロゴの画像挿入 --> 
    <a href="{{ url_for('render_map') }}">
      <img src="{{ url_for('static', filename='logo.png')}}" alt="payview" class="logo">
    </a>
    <!-- 検索窓 -->
    <div class="search_div">
      <form action="{{ url_for('search_shop.text_search_map')}}" method="POST">
        <select class="select_distance" name="select_distance">
          {% for i in DROP_DOWN_DISTANCE %}
            {% if i == selected_distance%}
              {% set selected = "selected"%}
            {% else %}
              {% set selected = "" %}
            {% endif %}
            {% if i == -1%}
              <option value="{{ i }}" {{ selected }}>すべて</option>
            {% else %}
              <option value="{{ i }}" {{ selected }}>{{ i }} km</option>
            {% endif %}
          {% endfor %}
        </select>
        <div class="search_container">
          {% if searched_strings == ""%}
            <input type="text" name="search_strings" placeholder="キーワードを入力">
          {% else %}
            <input type="text" name="search_strings" value="{{ searched_strings }}">
          {% endif%}
          <input type="submit" value="&#xf002">
        </div>
      </form>
    </div>
    <!-- ハンバーガーメニュー -->
    <div class="hamburger_menu_phone">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="menu_phone">
      <!-- ログイン -->
      <div class="login_user">
        {% if g.user %}
          <img class="user_picture" src="{{ g.user['user_picture_url'] }}">
          <div class="userData">
            <a class="userNameIndex">ユーザーネーム</a>
            <a class="user_name">{{ g.user['user_name'] }}</a>
            <a class="logout_btn" href="{{ url_for('google_login.g_logout') }}">ログアウトする</a>
          </div>
        {% else %}
          <img class="user_picture" src="{{ url_for('static', filename='default_user_icon.png') }}">
          <div class="userData">
            <a class="login_btn" href="{{ url_for('google_login.g_login') }}">ログインする</a>
          </div>
        {% endif %}
      </div>
      <!-- タグ欄 -->
      <div class="category_frame_box_phone">
        <!-- 決済サービスのタグ -->
        <div class="category_memu_phone">Category Menu</div>
        <div class="category_menu_line_phone"></div>
        <div class="payment_service_head_phone">決済サービス</div>
          <!-- 現金の表示 -->
          {% for cash in cash_group %}
            <a style="text-decoration: none;" href="{{ url_for('search_shop.search_result_map', payment_or_tag_id=cash['payment_id'])}}" role="button">
              <div class="cash_label_phone">{{ cash["name"] }}</div>
            </a> 
          {% endfor %}
          <input id="fold_tag_phone-check1" class="fold_tag_phone-check" type="checkbox">
          <label class="fold_tag_phone-label" for="fold_tag_phone-check1">クレジットカード</label>
          <div class="fold_tag_phone-content_credit">
            {% for credit_name in credit_names %}
              <a style="text-decoration: none;" href="{{ url_for('search_shop.search_result_map', payment_or_tag_id=credit_name['payment_id'])}}" role="button">
                <div class="tag_content_phone">{{ credit_name["name"] }}</div>
              </a>
            {% endfor %}
          </div>
        
          <input id="fold_tag_phone-check2" class="fold_tag_phone-check" type="checkbox">
          <label class="fold_tag_phone-label" for="fold_tag_phone-check2">バーコード・QRコード決済</label>
          <div class="fold_tag_phone-content_barcode">
            {% for barcode_name in barcode_names %}
              <a style="text-decoration: none;" href="{{ url_for('search_shop.search_result_map', payment_or_tag_id=barcode_name['payment_id'])}}" role="button">
                <div class="tag_content_phone">{{ barcode_name["name"] }}</div>
              </a>
            {% endfor %}
          </div>
        
          <input id="fold_tag_phone-check3" class="fold_tag_phone-check" type="checkbox">
          <label class="fold_tag_phone-label" for="fold_tag_phone-check3">電子マネー</label>
          <div class="fold_tag_phone-content_electronic_money">
            {% for electronic_money_name in electronic_money_names %}
              <a style="text-decoration: none;" href="{{ url_for('search_shop.search_result_map', payment_or_tag_id=electronic_money_name['payment_id'])}}" role="button">
                <div class="tag_content_phone">{{ electronic_money_name["name"] }}</div>
              </a>
            {% endfor %}
          </div>
          <!-- タグ -->
          <div class="tag_head_phone">タグ</div>
          <div class="tag_commonly_used_phone">よく使われるタグ Top5</div>
          {% for tag_commonly in tag_commonly_used_list %}
            <a style="text-decoration: none;" href="{{ url_for('search_shop.search_result_map', payment_or_tag_id=tag_commonly['tag_id'])}}" role="button">
              <div class="tag_content_phone">{{ tag_commonly["name"] }}</div>
            </a>
          {% endfor %}
          <div class="normal_tag_phone">50音順</div>
          {% for a_dan in tag_id_name_dict_every_gyou %}
            <div class="normal_tag_phone">{{ a_dan }} 行</div>
            {% for tag_id_name in tag_id_name_dict_every_gyou[a_dan] %}
              <a style="text-decoration: none;" href="{{ url_for('search_shop.search_result_map', payment_or_tag_id=tag_id_name['tag_id'])}}" role="button">
                <div class="tag_content_phone">{{ tag_id_name["name"] }}</div>
              </a>
            {% endfor %}
          {% endfor %}
          <div class="tag_blank_phone"></div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".hamburger_menu_phone").click(function() {
                $(this).toggleClass('active');
                $(".menu_phone").toggleClass('active');
            });
        });
    </script>
  </div>
  <script src="{{ url_for('static', filename='javascript/geolocation.js') }}"></script>
</header>
<body class="background">
    <!-- お店のスライドクリックした時の処理 -->
    <script>
      function getMobileOS(shop_id){
        const ua = navigator.userAgent
        var os = "Other"
        if (/android/i.test(ua)) {
          os = "Android"
        }
        else if ((/iPad|iPhone|iPod/.test(ua)) 
            || (navigator.platform === 'MacIntel' && navigator.maxTouchPoints > 1)){
          os = "iOS"
        }
        const SCRIPT_ROOT = {{ request.script_root|tojson }}
        console.log(os);
        window.location.href = `${SCRIPT_ROOT}/detail/${os}/${shop_id}`
      }
    </script>
    <!-- タイトル -->
    <div class="title">Search Shop Map</div>
    <div class="line"></div>
    <div id=myPopup class="popup">
      <div class="popup-content">
        <span id=closeBtn onclick="closePopup()">&times;</span>
        <p>使い方<br><br>現在位置より半径1kmの飲食店・スーパーを表示するブ-。<br>
           右上の距離を変更して範囲を指定できるブ-。<br>
          スマホだと詳細画面でお手持ちのアプリに飛ぶことができるブヒッ</p>
      </div>
    </div>
    <img src="{{ url_for('static', filename='payviewPig4.png')}}" alt="payview-pig 1" id="scrollPig" onclick="openPopup()" onmouseover="highlightImage()" onmouseout="resetImageHighlight()">
    <script>
      var rootUrl = window.location.origin;
      const pig1url = rootUrl + "/static/payviewPig4.png";
      const pig2url = rootUrl + "/static/payviewPig5.png";
      const img = [pig1url, pig2url];
      
      let count = -1;
      
      picChange(); // 関数を実行
      
      function picChange() {
      
        count++;
      
        // カウントが最大になれば配列を初期値に戻すため「0」を指定する
        if (count == img.length) count = 0;
      
        // 画像選択
        document.getElementById("scrollPig").src = img[count];
      
        // 1秒ごとに実行
        setTimeout("picChange()", 500);
      
      }
      var isPopupVisible = false;
      var popup = document.getElementById("myPopup")
      window.onload = function() {
        if (!getCookie("popupDisplayed")) {
          openPopup();
          setCookie("popupDisplayed", "true", 1); // クッキーの有効期限を1日に設定
        }
      }

      function closePopup() {
        popup.style.display = "none";
        isPopupVisible = false;
      }

      function openPopup() {
        popup.style.display = "block";
        isPopupVisible = true;
      }

      // 画像に触れたときにハイライトする関数
      function highlightImage() {
        if (!isPopupVisible) {
          var image = document.getElementById("scrollPig");
          image.style.backgroundColor = "rgba(241, 208, 97, 0.2)"; // 任意のボーダー色を指定
        }
      }

      // 画像から離れたときにハイライトを解除する関数
      function resetImageHighlight() {
        var image = document.getElementById("scrollPig");
        image.style.backgroundColor = "transparent";
      }

      // クッキーを設定する関数
      function setCookie(name, value, days) {
        var expires = "";
        if (days) {
          var date = new Date();
          date.setTime(date.getTime() + (days * 12 * 60 * 60 * 1000));
          expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
      }
      // クッキーの値を取得する関数
      function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(";");
        for (var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == " ") c = c.substring(1, c.length);
          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
      }
    </script>
    <!-- web階層の表示 -->
    <div class="web_hierarchy">
      <a href="{{ url_for('render_map') }}">Top</a>
      <span> ></span>
      <span>{{ web_hierarchy_search }}</span>
    </div>
    <div class="map_shop_frame_box">
      <div id="map"></div>
      <!-- Google MapのJavascript設定 -->
      <script>
        var markersAndInfoWindows = {};
        var currentInfowindow = null;
        function initMap() {
          // 地図の中心を設定、pythonからユーザの位置情報を渡す
          var user_latitude = {{ user_latitude }};
          var user_longitude = {{ user_longitude }};
          var center = {lat: user_latitude, lng: user_longitude};
          // 地図を表示
          var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 13,
              center: center,
              gestureHandling: 'greedy',
              mapTypeControl: false,
              styles: [
                {
                  featureType: "poi",
                  elementType: "labels",
                  stylers: [{ visibility: "off" }]
                }]
          });
          var iconBase = '{{ url_for('static', filename='current_location.png')}}';
          var icons = {
              userLocation: {
                  icon: iconBase
              }
          };
          map.setCenter(center);
          var marker = new google.maps.Marker({
              position: center,
              icon: icons.userLocation.icon,
              map: map
          });
          // pythonからお店情報を持ってくる
          var shops_and_payments = '{{shops_and_payments}}';
          var decoded_shops_and_payments = shops_and_payments.replace(/&#39;/g, '"');
          var shops_and_payments_jsList = JSON.parse(decoded_shops_and_payments);
          var infowindow = new google.maps.InfoWindow();
          // マーカーと吹き出しを作成
          shops_and_payments_jsList.forEach((shop_and_pay) => {
            let location = {lat: shop_and_pay[3], lng: shop_and_pay[4]};
            var marker = new google.maps.Marker({
              position: location,
              map: map
            });
            marker.shopId = shop_and_pay[0];
            const contentString = 
              '<p class="storeName">' + shop_and_pay[1] + '<br></p>' +
              '<p class="located">' + shop_and_pay[2] + '先<br></p>' +
              '<p class="payments">' + shop_and_pay[5] + '</p>' +
              '<div class="detail_button">' +
                '<a style="text-decoration: none;" onclick="getMobileOS(' + shop_and_pay[0] + ');return false;" href="#">決済情報詳細</a>' +
              '</div>';
            var infowindow = new google.maps.InfoWindow({
              content: contentString
            });
            // マーカーと吹き出しの参照を保存
            markersAndInfoWindows[shop_and_pay[0]] = { marker: marker, infowindow: infowindow };
            marker.addListener('click', function() {
              // 以前に開いていた吹き出しがあれば閉じる
              if (currentInfowindow) {
                currentInfowindow.close();
              }
              infowindow.setContent(contentString);
              infowindow.open(map, marker);
              currentInfowindow = infowindow;
              setActiveShopFrame(this.shopId);
            });
          });
          function setActiveShopFrame(shopId) {
            // すべての.shop_frameから.activeを削除
            document.querySelectorAll('.shop_frame_box .shop_frame').forEach(el => {
              el.classList.remove('active');
            });
            // 対応する.shop_frameに.activeを追加し、その要素にスクロール
            const activeShopFrame = document.querySelector(`.shop_frame[data-shop-id="${shopId}"]`);
            if (activeShopFrame) {
              activeShopFrame.classList.add('active');
              activeShopFrame.scrollIntoView({ behavior: 'smooth', block: 'nearest' });
            }
          }
          document.querySelectorAll('.shop_frame_box .shop_frame').forEach((element, index) => {
            element.addEventListener('click', function() {
              // お店のスライドが押されたら、他のスライドのボタンactive(css)を削除
              document.querySelectorAll('.shop_frame_box .shop_frame').forEach(el => {
                  el.classList.remove('active');
              });
              // お店のスライドが押されたら、ボタンactive(css)を追加
              this.classList.add('active');
              // 店舗IDを取得
              var shopId = shops_and_payments_jsList[index][0];
              // 以前に開いていた情報ウィンドウがあれば閉じる
              if (currentInfowindow) {
                currentInfowindow.close();
              }
              // 対応するマーカーと吹き出しを取得して開く
              var markerAndInfoWindow = markersAndInfoWindows[shopId];
              if (markerAndInfoWindow) {
                markerAndInfoWindow.infowindow.open(map, markerAndInfoWindow.marker);
                currentInfowindow = markerAndInfoWindow.infowindow;
              }
            });
          });
          // マップ上の任意の場所をクリックしたときに吹き出しを閉じる
          map.addListener('click', function() {
            if (currentInfowindow) {
              currentInfowindow.close();
            }
            document.querySelectorAll('.shop_frame_box .shop_frame').forEach(el => {
              el.classList.remove('active');
            });
          });
        }
        window.onload = function() {
          fetch("/getapijs").then(res => {
              return res.text();
          }).then(mytext => {
              eval(mytext);
          }).then(() => {
              initMap()
              console.log("マップの読み込みに成功しました");
          }).catch(() => {
              console.log("マップの読み込みに失敗しました");
          });
        };
      </script>
      
      <div class="shop_frame_box">
        {% for shop_and_pay in shops_and_payments %}
            <div class="shop_frame" data-shop-id="{{ shop_and_pay[0] }}">
              <p class="storeName">{{ shop_and_pay[1] }}<br></p>
              <p class="located">{{ shop_and_pay[2]+" 先" }}<br></p>
              <p class="payments">{{ shop_and_pay[5] }}</p>
              <div class="detail_button">
                <a style="text-decoration: none;" onclick="getMobileOS({{ shop_and_pay[0] }});return false;" href="#">決済情報詳細</a>
              </div>
            </div>
        {% endfor %}
      </div>
      <!-- お店のスライドを入れる欄 -->
    </div>
    {# ====フッター==== #}
    <footer>
        <p>©PayView All Rights Reserved.</p>
    </footer>
</body>
</html>
