<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8"> 
  <link rel="icon" type="image/png" href="{{url_for('static', filename='icon.png')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style_top.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">    	
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP" rel="stylesheet">
  <title>PayView</title>
  <style>
    /* すべての画像のスタイル */
    img {
      display: block; /* 画像をブロック要素として扱う */
      margin: auto;    /* 画像を中央に配置 */
    }

    /* 特定の画像のスタイル */
    .custom-image {
      width: 30%; /* 幅を50%に設定 */
    }
  </style>
  <!-- 画像の大きさを取得 -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- sample -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css" media="screen">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<header class="background">
  {# ====PC用のヘッダー==== #}
  <div class="header_div">
    <!-- ロゴの画像挿入 --> 
    <a href="{{ url_for('loading') }}">
      <img src="{{ url_for('static', filename='logo.jpg')}}" alt="payview" class="logo">
    </a>
    <!-- タイトル -->
    <div class="title">Search Shop List</div>
    <!-- 検索窓 -->
    {#
    <div class="search_div">
      <img src="{{ url_for('static', filename='kensaku.jpeg')}}" class="searchImage">
      <div class="search" src="https://via.placeholder.com/30x30">検索</div>
      <div class="searchWindow"></div>
    </div>
    #}
    {#
    <!-- メニュー欄 -->
    <div class="menu_map">マップ</div>
    <div class="menu_toukou">投稿</div>
    <div class="menu_how_to">使い方</div>
    #}
    <!-- ライン -->
    <div class="line"></div>
  </div>
  
  {# ====スマホ用のヘッダー==== #}
  <div class="header_div_phone">
    <!-- ロゴの画像挿入 --> 
    <a href="{{ url_for('loading') }}">
      <img src="{{ url_for('static', filename='logo.jpg')}}" alt="payview" class="logo">
    </a>
    <!-- タイトル -->
    <div class="title">Search Shop List</div>
    <!-- ハンバーガーメニュー -->
    <div class="hamburger-menu">
      <input type="checkbox" id="menu-btn-check">
      <label for="menu-btn-check" class="menu-btn"><span></span></label>
      <!-- メニュー内 -->
      <div class="menu-content">
        <div class="category_frame_box_phone">
          <span class="category_head_phone">カテゴリ</span>
          <div class="category_frame_phone">
            <!-- 折りたたみメニュー -->
            <input id="fold_tag_phone-check1" class="fold_tag_phone-check" type="checkbox">
            <label class="fold_tag_phone-label" for="fold_tag_phone-check1">クレジットカード</label>
            <div class="fold_tag_phone-content">
              <p><span class="fold_tag_phone-under_line">MasterCard</p>
            </div>
          
            <input id="fold_tag_phone-check2" class="fold_tag_phone-check" type="checkbox">
            <label class="fold_tag_phone-label" for="fold_tag_phone-check2">バーコード・QRコード決済</label>
            <div class="fold_tag_phone-content">
              <p><span class="fold_tag_phone-under_line">PayPay</p>
              <p><span class="fold_tag_phone-under_line">楽天Pay</p>
            </div>
          
            <input id="fold_tag_phone-check3" class="fold_tag_phone-check" type="checkbox">
            <label class="fold_tag_phone-label" for="fold_tag_phone-check3">電子マネー</label>
            <div class="fold_tag_phone-content">
              <p><span class="fold_tag_phone-under_line">Suica</p>
                <p><span class="fold_tag_phone-under_line">Edy</p>
            </div>
      
            {% for tag_id_name in tag_id_name_list %}
              <a style="text-decoration: none;" onclick="post_position('/search-shop/search-result/{{ tag_id_name['tag_id'] }}')" href="#" role="button">
                <div class="tag_content_phone"><span class="under_line_phone">{{ tag_id_name["name"] }}</span></div>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!-- 検索窓 -->
    {#
    <div class="search_div">
      <img src="{{ url_for('static', filename='kensaku.jpeg')}}" class="searchImage">
      <div class="search" src="https://via.placeholder.com/30x30">検索</div>
      <div class="searchWindow"></div>
    </div>
    #}
    {#
    <!-- メニュー欄 -->
    <div class="menu_map">マップ</div>
    <div class="menu_toukou">投稿</div>
    <div class="menu_how_to">使い方</div>
    #}
    <!-- ライン -->
    <hr class="line">
  </div>
  <script src="{{ url_for('static', filename='javascript/geolocation.js') }}"></script>
</header>
<body class="background">
  <script>
    function getMobileOS(shop_id){
      const ua = navigator.userAgent
      var os = "Other"
      if (/android/i.test(ua)) {
        os = "Android"
      }
      else if ((/iPad|iPhone|iPod/.test(ua)) 
          || (navigator.platform === 'MacIntel' && navigator.maxTouchPoints > 1)){
        os = "iOS"
      }
      const SCRIPT_ROOT = {{ request.script_root|tojson }}
      console.log(os);
      window.location.href = `${SCRIPT_ROOT}/detail/${os}/${shop_id}`
    }
  </script>

  <div class="shop_frame_box">
    <!-- タグのアラート -->
    <h1>{{device_type}}</h1>
    {% if tag_name != None %}
        <div class="tag-alert">{{ tag_name }}のタグがついているお店一覧</div>
    {% endif %}
    <!-- お店のスライドを入れる欄 -->
    {% for shop_and_pay in shops_and_payments %}
        <a style="text-decoration: none;" onclick="getMobileOS({{ shop_and_pay[0] }})" href="#" class="stretched-link">
          <div class="shop_frame">
            <p class="storeName">{{ shop_and_pay[1] }}<br></p>
            <p class="located">{{ shop_and_pay[2]+" 先" }}<br></p>
            {% if ((shop_and_pay[3] | length) < 100) %}
              <p class="payments">{{  shop_and_pay[3] }}</p>
            {% else %}
              <p class="payments">{{ (shop_and_pay[3])[:100]+"etc..." }}</p>
            {% endif %}
          </div>
        </a>
    {% endfor %}
  </div>

  <!-- カテゴリ欄 -->
  <div class="category_frame_box">
    <span class="category_head">決済サービス</span>
    <div class="category_frame">
      <!-- 折りたたみメニュー -->
      <input id="fold_tag-check1" class="fold_tag-check" type="checkbox">
      <label class="fold_tag-label" for="fold_tag-check1">クレジットカード</label>
      <div class="fold_tag-content">
        <p><span class="fold_tag-under_line">MasterCard</p>
      </div>
    
      <input id="fold_tag-check2" class="fold_tag-check" type="checkbox">
      <label class="fold_tag-label" for="fold_tag-check2">バーコード・QRコード決済</label>
      <div class="fold_tag-content">
        <p><span class="fold_tag-under_line">PayPay</p>
        <p><span class="fold_tag-under_line">楽天Pay</p>
      </div>
    
      <input id="fold_tag-check3" class="fold_tag-check" type="checkbox">
      <label class="fold_tag-label" for="fold_tag-check3">電子マネー</label>
      <div class="fold_tag-content">
        <p><span class="fold_tag-under_line">Suica</p>
          <p><span class="fold_tag-under_line">Edy</p>
      </div>

      {% for tag_id_name in tag_id_name_list %}
        <a style="text-decoration: none;" onclick="post_position('/search-shop/search-result/{{ tag_id_name['tag_id'] }}')" href="#" role="button">
          <div class="tag_content"><span class="under_line">{{ tag_id_name["name"] }}</span></div>
        </a>
      {% endfor %}
    </div>
  </div>
</body>
</html>
