<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="{{ url_for('admin_auth.admin_login')}}" method="POST">
        <p>管理者名</p>
        <input type="text" name="admin_name"></p>
        <p>パスワード</p>
        <input type="text" name="password"></p>
        <input class="confirm_button" type="submit"  value="確定">
    </form>
  </body>
</html>