{% extends "insert_shop_data/insert_shop_data_template.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for("static", filename="insert_shop_data/style_choose_tag.css")}}">
{% endblock %}
{% block body %}
    <h2>「{{ shop_data[0]["name"] }}」と結びつけるタグ</h2>
    <form action="{{ url_for("insert_shop_data.choose_tag", shop_id=shop_data[0]["shop_id"]) }}" method="POST">
        {% for tag_id_name in tag_id_name_list %}
        {% if tag_id_name["tag_id"] in assigned_tag_this_shop_list %}
            <input type="checkbox" class="tag_checkbox"name="tag" value="{{ tag_id_name["tag_id"]}}" checked ><span class="tag_name">{{ tag_id_name["name"]}}</span><br>
        {% else %}
            <input type="checkbox" class="tag_checkbox"name="tag" value="{{ tag_id_name["tag_id"]}}" ><span class="tag_name">{{ tag_id_name["name"]}}</span><br>
        {% endif %}
        {% endfor %}
        <input class="confirm_button" type="submit"  value="確定">
    </form>
{% endblock %}
