{% extends "insert_shop_data/insert_shop_data_template.html" %}

{% block css%}
    <link rel="stylesheet" href="{{ url_for("static", filename="insert_shop_data/style_choose_shop.css")}}">
{% endblock %}

{% block body%}
    {% if tag_or_payment == "payment" %}
    <h2>お店で使える決済を追加するページ</h2>
    {% else %}
    <h2>お店のタグを追加するページ</h2>
    {% endif %}
    <div class="shop_list">
        {% for shop_id_name in shop_id_name_list %}
        {% if tag_or_payment == "payment" %}
        <button class="shop_button" type="button" onclick="location.href='{{ url_for("insert_shop_data.choose_payment", shop_id=shop_id_name["shop_id"])}}'">{{ shop_id_name["shop_id"]}}: {{ shop_id_name["name"]}}</button><br>
        {% else %}
        <button class="shop_button" type="button" onclick="location.href='{{ url_for("insert_shop_data.choose_tag", shop_id=shop_id_name["shop_id"])}}'">{{ shop_id_name["shop_id"]}}: {{ shop_id_name["name"]}}</button><br>
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}
