{% extends "insert_shop_data/insert_shop_data_template.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for("static", filename="insert_shop_data/style_delete_tag.css")}}">
{% endblock %}
{% block body %}
    <h1>削除するタグを選んでください</h1>
    <form action="{{ url_for("insert_shop_data.delete_tag") }}", method="POST">
        <div class="tag_list">
            {% for tag_id_name in tag_id_name_list %}
                <input type="checkbox" class="tag_check"name="tag" value="{{ tag_id_name["tag_id"]}}"><span class="tag_name">{{ tag_id_name["name"] }}</span><br>
            {% endfor %}
            <input class="confirm_button" type="submit"  value="確定">
        </div>
    </form>
{% endblock %}
