{% extends "insert_shop_data/insert_shop_data_template.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for("static", filename="insert_shop_data/style_delete_payment.css")}}">
{% endblock %}
{% block body %}
<h1>削除する決済サービスを選んでください</h1>
<form action="{{ url_for("insert_shop_data.delete_payment") }}", method="POST">
    <div class="payment_list">
        {% for payment_id_name in payment_id_name_list %}
            <input type="checkbox" class="payment_check"name="payment" value="{{ payment_id_name["payment_id"]}}"><span class="payment_name">{{ payment_id_name["name"] }}</span><br>
        {% endfor %}
        <input class="confirm_button" type="submit"  value="確定">
    </div>
</form>
{% endblock %}
