<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8"> 
    <link rel="icon" type="image/png" href="{{url_for('static', filename="icon.png")}}">
    {% block css %}
    {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">    	
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP" rel="stylesheet">
    <title>PayView</title>
    <style>
      /* すべての画像のスタイル */
      img {
        display: block; /* 画像をブロック要素として扱う */
        margin: auto;    /* 画像を中央に配置 */
      }

      /* 特定の画像のスタイル */
      .custom-image {
        width: 30%; /* 幅を50%に設定 */
      }
    </style>

<header>
    <div>
        <button onclick="location.href='{{ url_for("insert_shop_data.choose_shop", tag_or_payment="payment")}}'">お店で使える決済を追加するページ</button>
        <button onclick="location.href='{{ url_for("insert_shop_data.choose_shop", tag_or_payment="tag")}}'">お店のタグを追加するページ</button>
        <button onclick="location.href='{{ url_for("insert_shop_data.add_shop")}}'">お店を追加するページ</button>
        <button onclick="location.href='{{ url_for("insert_shop_data.add_payment")}}'">決済サービスを追加するページ</button>
        <button onclick="location.href='{{ url_for("insert_shop_data.delete_shop")}}'">お店を削除するページ</button>
        <button onclick="location.href='{{ url_for("insert_shop_data.delete_payment")}}'">決済サービスを削除するページ</button>
        <button onclick="location.href='{{ url_for("insert_shop_data.add_tag")}}'">タグを追加するページ</button>
        <button onclick="location.href='{{ url_for("insert_shop_data.delete_tag")}}'">タグを削除するページ</button>
        <button onclick="location.href='{{ url_for("render_map")}}'">Topページ</button>
    </div>
</header>
<body>
    {% block body %}{% endblock %}
</body>
